/**
Css custom view framework
**/
.iris-picker.iris-mozilla.iris-border{position: absolute; z-index: 999;}
.section-typography h4{float: left; width: 100px; margin-top: 10px !important;}
#options-group-1 .section h4{float: left; margin-right: 15px;margin-top: 10px; width: 145px;}
#section-custom-css h4, #section-analytics-code h4{margin-top: 88px !important;}
#options-group-1 #color-style{width: 100px !important;}
#options-group-3{float: left; width: 100%; height: auto; background: #fff; margin-bottom: 10px;}
#options-group-3 .section h4, #options-group-7 h4, #section-post-per-page h4, #section-excerpt-lenght h4{float: left; margin-right: 10px; margin-top: 5px!important;width: 120px;}
#options-group-3 .section .upload{width: 200px!important;}
#options-group-3 div.controls{float: left!important; }
#options-group-3 h4{float: left; margin-right: 10px;}
#options-group-3 div.option{float: left; max-width: 500px;}
#options-group-3 div.controls{ min-width: 200px !important;}
#options-group-3 .section .controls{width: 100%!important;}
#options-group-3 div.section, #option-group-3 div.controls{float: left;}
#section-header-background-images h4, #section-footer-background-images h4, #section-menu-hover-background-color h4, #section-link-active-color h4, #section-menu-action-bg-color h4, #section-background-images h4, #section-button-background-color h4, #section-button-background-color h4, #section-button-hover-background-color h4, #section-widget-background-color h4{width: 165px;}
#section-menu-hover-background-color, #section-button-background-color, #section-button-background-color, #section-button-hover-background-color,#section-menu-action-bg-color, #section-link-active-color{width: 40%!important;}
#section-background-color h4, #section-header-text-color h4, #section-footer-background-color h4, #section-menu-hover-color h4, #section-menu-action-color h4, #section-menu-action-color h4, #section-button-text-color h4, #section-button-hover-color h4, #section-link-color h4, #section-button-color h4, #section-widget-title-color h4{width: 120px;}
#options-group-5 h4{float: left; width: 100px; margin-top: 20px;}
#section-show-option h4{margin-top: 33px!important;}
/*#options-group-5 .controls input[type="text"]{width: 50px!important;}*/
#options-group-6 h4{float: left; width: 110px; margin-right: 10px; margin-top: 5px !important;}
#options-group-6 .wp-core-ui {float: left;width: 66%;}
#section-footer h4, #section-message-contact h4{margin-top: 120px !important;}
#options-group-6 .section .controls{float: left; width: 55%!important;}
#options-group-6 .controls input[type="text"]{width: 200px!important;}
div#section-show-socials{float: left; width: 110px;}
/*#facebook, #twitter, #google, #youtube, #linkedin, #rss, #section-map-longitude, #section-map-latitude, #section-map-zoom{display: none;}*/
#options-group-7{float: left; width: 100%; background: #fff; margin-bottom: 10px;}
#options-group-7 #section-show-socials option{float: left; width: 110px!important;}
#options-group-7 .mini{float: left; width: 50%!important;  }
#options-group-7 input.checkbox, #optionsframework input.of-radio{margin-bottom: 10px !important; margin-top: 5px!important;}
#options-group-7 .section-radio label, #optionsframework .section-multicheck label{margin-top: 5px!important;}
#section-google, #section-twitter, #section-youtube, #section-linkedin, #section-rss{padding-top: 5px!important;}
/*#options-group-7 .controls input[type='text']{position: absolute; left: 125px;}
#facebook{top: 46px;}
#twitter{top: 76px;}
#youtube{top: 107px;}
#google{top: 139px;}
#linkedin{top: 171px;}
#pinterest{top: 201px;}
#rss{top: 230px;}*/