/*=========================================================================
  Core
//=======================================================================*/
.container{
	position:relative;
}
nav#primary-nav{
    display: none;
}
.text-right {
	text-align: right;
}
.widget .icons-ul {
    list-style-type: none;
    margin-left: 2.14286em;
}
ul.inline > li,
ol.inline > li {
  padding-right: 0;
  padding-left: 0;
}
.btn, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	height:auto;
	padding:14px;
    margin-bottom: 15px;
	font-size:12px;
	color:#333;
	text-shadow:none;
	box-shadow:none;
	border-radius:0;
    font-family: 'Roboto Slab', Arial, sans-serif
}
.btn, button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"]{
	border:none;
	background:rgba(0, 0, 0, 0.2);
	font-weight:bold;
	letter-spacing:1px;
	color:#fff;
	padding:9px 30px;
	font-size:12px;
	text-transform:uppercase;
	border-radius:2px;
}
.btn:hover, button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
	background:#e77f66;
	color:#ffffff;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, 
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, 
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	outline:none;
	-webkit-box-shadow:0 0 0 0;
	-moz-box-shadow:0 0 0 0;
	box-shadow:0 0 0 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:    #464646;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:    #464646;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:    #464646;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:    #464646;
}
/*=========================================================================
  WordPress Default Class
//=======================================================================*/
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    max-width: 100%;
    text-align: center;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border:none;
    height: auto;
    max-width:100%;
    width: auto;
    margin: 0;
    padding: 0;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding:10px;
}
alignnone, 
a img.alignnone, 
.wp-caption.alignnone, 
.wp-caption.alignleft{
	margin:0;
}
.aligncenter, div.aligncenter, .aligncenter {
    display: block;
    margin: 5px auto;
}
.alignright, a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft, a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.gallery{
	margin:30px 0;
}
.gallery.style2{
    margin: 30px auto;
     max-width: 1170px;
}
.gallery p, .gallery figure div {
    margin-bottom: 0 !important;
    height: 1px !important;
    clear: both;
    overflow: hidden;
    position: absolute;
}
.gallery.style2 .title {
    opacity: 0;
    width: 100%;
    line-height: 30px;
    text-align: center;
    padding-right: 30px;
    font-style: italic;
    font-size: 30px;
    font-weight: 400;
    padding: 0 20px;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
.gallery-item{
	float: left;
	display: inline-block;
	width:80px !important;
	height:80px !important;
	margin:0 1px 1px 0 !important;
}
.gallery-item a{
	display:block;
}
.gallery-icon{
	background-color:#333;
}
.gallery-icon img{
	border:none !important;
	opacity:1;
	width:100%;
}
.gallery-icon img:hover{
	opacity:1;
}

.sticky, 
.gallery-caption, 
.bypostauthor {
}


/*=========================================================================
  Isotope CSS3 transitions
//=======================================================================*/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}


/*=========================================================================
  Beau Animated
//=======================================================================*/
.beau-animated {
	opacity:0;
	-webkit-perspective:1000
}
.beau-animated.beau-viewport.fade-in {
	-webkit-animation:beau_fadein 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	-moz-animation:beau_fadein 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	-o-animation:beau_fadein 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	animation:beau_fadein 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	opacity:1;
}
.beau-animated.beau-viewport.small-to-large {
	-webkit-animation:beau_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	-moz-animation:beau_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	-o-animation:beau_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	animation:beau_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
	opacity:1;
}
.beau-animated.beau-viewport.move-to-left {
	-webkit-animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
	-moz-animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
	-o-animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
	animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
	opacity:1;
}
.beau-animated.beau-viewport.move-to-right {
	-webkit-animation:beau_move_to_right 1s 1 cubic-bezier(.177, 0, .175, 1.275);
	-moz-animation:beau_move_to_right 1s 1 cubic-bezier(.177, 0, .175, 1.275);
	-o-animation:beau_move_to_right 1s 1 cubic-bezier(.177, 0, .175, 1.275);
	animation:beau_move_to_right 1s 1 cubic-bezier(.177, 0, .175, 1.275);
	opacity:1;
}
.beau-animated.beau-viewport.move-to-bottom {
	-webkit-animation:beau_move_to_bottom 1.5s 1 cubic-bezier(1, 0, 0, 1);
	-moz-animation:beau_move_to_bottom 1.5s 1 cubic-bezier(1, 0, 0, 1);
	-o-animation:beau_move_to_bottom 1.5s 1 cubic-bezier(1, 0, 0, 1);
	animation:beau_move_to_bottom 1.5s 1 cubic-bezier(1, 0, 0, 1);
	opacity:1;
}
.beau-animated.beau-viewport.move-to-top {
	-webkit-animation:beau_move_to_top .6s 1 cubic-bezier(.77, 0, .175, 1);
	-moz-animation:beau_move_to_top .6s 1 cubic-bezier(.77, 0, .175, 1);
	-o-animation:beau_move_to_top .6s 1 cubic-bezier(.77, 0, .175, 1);
	animation:beau_move_to_top .6s 1 cubic-bezier(.77, 0, .175, 1);
	opacity:1
}
@-webkit-keyframes beau_fadein{0%{opacity:.1} 100%{opacity:1}}
@-moz-keyframes beau_fadein{0%{opacity:.1} 100%{opacity:1}}
@-o-keyframes beau_fadein{0%{opacity:.1} 100%{opacity:1}}
@keyframes beau_fadein{0%{opacity:.1} 100%{opacity:1}}

@-webkit-keyframes beau_zoom{0%{-webkit-transform:scale(.3);opacity:.1} 100%{-webkit-transform:scale(1);opacity:1}}
@-moz-keyframes beau_zoom{0%{-moz-transform:scale(.3);opacity:.1} 100%{-moz-transform:scale(1);opacity:1}}
@-o-keyframes beau_zoom{0%{-o-transform:scale(.3);opacity:.1} 100%{-o-transform:scale(1);opacity:1}}
@keyframes beau_zoom{0%{transform:scale(.3);opacity:.1} 100%{transform:scale(1);opacity:1}}

@-webkit-keyframes beau_move_to_right{0%{-webkit-transform:translate(-15%, 0);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}
@-moz-keyframes beau_move_to_right{0%{-moz-transform:translate(-15%, 0);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}
@-o-keyframes beau_move_to_right{0%{-o-transform:translate(-15%, 0);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}
@keyframes beau_move_to_right{0%{transform:translate(-15%, 0);opacity:0} 100%{transform:translate(0, 0);opacity:1}}

@-webkit-keyframes beau_move_to_left{0%{-webkit-transform:translate(15%, 0);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}
@-moz-keyframes beau_move_to_left{0%{-moz-transform:translate(15%, 0);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}
@-o-keyframes beau_move_to_left{0%{-o-transform:translate(15%, 0);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}
@keyframes beau_move_to_left{0%{transform:translate(15%, 0);opacity:0} 100%{transform:translate(0, 0);opacity:1}}

@-webkit-keyframes beau_move_to_top{0%{-webkit-transform:translate(0, 60%);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}
@-moz-keyframes beau_move_to_top{0%{-moz-transform:translate(0, 60%);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}
@-o-keyframes beau_move_to_top{0%{-o-transform:translate(0, 60%);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}
@keyframes beau_move_to_top{0%{transform:translate(0, 60%);opacity:0} 100%{transform:translate(0, 0);opacity:1}}

@-webkit-keyframes beau_move_to_bottom{
    0%{
        -webkit-transform:translate(0, -20%);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}
@-moz-keyframes beau_move_to_bottom{0%{-moz-transform:translate(0, -20%);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}
@-o-keyframes beau_move_to_bottom{0%{-o-transform:translate(0, -20%);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}
@keyframes beau_move_to_bottom{0%{transform:translate(0, -20%);opacity:0} 100%{transform:translate(0, 0);opacity:1}}


.beau-animated.beau-viewport.beau-sonar{
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #c90000;
}

.beau-animated.beau-viewport.beau-sonar:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
/*=========================================================================
  Header
//=======================================================================*/
.beau-header{
    position: relative;
}
.beau-header-top{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 115;
    padding: 0;
}
/*======== Social========*/
.beau-social{

}
.beau-social{
    padding: 27px 0 16px;
}
#header .beau-social, .beau-social ul, .beau-team .beau-social{
    margin:0;
    overflow:hidden;
}
.beau-social ul li{
    float:left;
    margin-left:1px;
    margin-bottom:1px;
    padding:0;
}
.beau-social a{
    width:15px;
    height:15px;
    margin-right: 22px;
    display:block;
    cursor: pointer;
    text-indent:9999px;
}
.social-google		{ background:url(../images/socials/soc.png) center; background-position: 0px 0px; }
.social-pinterest	{background:url(../images/socials/soc.png) center; background-position: 47px 0px; }
.social-facebook	{background:url(../images/socials/soc.png ) center; background-position: 30px 0px;}
.social-twitter		{background:url(../images/socials/soc.png)center; background-position: 15px 0px;  }
.mobile-search-icon { background: url("../images/icons/bg-search.png") no-repeat center;}

.social-facebook:hover {background-position: 30px 16px; opacity:1}
.social-twitter:hover {background-position: 15px 16px; opacity:1}
.social-pinterest:hover {background-position: 47px 16px; opacity:1}
.social-google:hover {background-position: 0px 16px; opacity:1}
/*=============Slider Header==========*/
.slider-text{
    position: absolute;
    right: 0;
    left: 0;
    top: 330px;
    width: 660px;
    height: 130px;
    opacity: 0.9;
    margin: 0 auto;
    text-transform: uppercase;
    color: #252525;
    font-weight: 300;
    z-index: 110;
}
.slider-text .left-text .text-top{
    font-size: 15px;
    text-align: right;

}
.slider-text .left-text .text-year{
    font-size: 128px;
    min-height: 130px;
    padding-top: 52px;
    text-align: right;
    font-family: 'BombshellRegular';
}
.slider-text .right-text {
    background:url("../images/icons/slide-text-bg.png") no-repeat left -5px;
    padding-top: 24px;
    padding-left: 18px;
    text-align: left;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}
.slider-text .span12.right-text,.slider-text .span12.left-text {
    background:none;
    text-align: center;
}
.slider-text .span12.left-text .text-top,.slider-text .span12.left-text .text-year
{
    text-align: center;
}
.slider-text p{
     margin: 0;
     font-size: 18px;
 }
.slider-text p:first-child{
    padding-left: 8px;
}
.slider-text .right-text h1,.slider-text .right-text h2,
.slider-text .right-text h3,.slider-text .right-text h4,
.slider-text .right-text h5,.slider-text .right-text h6,
.slider-text .right-text .text-center{
    font-size: 35px;
    margin-bottom: 14px;
    color: #252525;
    font-weight: normal;
}
.slider-text .right-text .text-bottom{
    font-size: 18px;
}
.slides-matt{
    position: absolute;
    z-index: 105;
    bottom: -270px;
    width: 100%;
    top: 380px;
    text-align: center;
    background: url("../images/icons/bg-slider-matt-1.png");
}
.slides-matt.style2{
    background: url("../images/icons/bg-slider-matt-2.png");
    top: 330px;
}
.beau-header-top .row-fluid .span4{
     width: 35%;
 }
.row-fluid .span4.logo{
    text-align: center;
    width: 30%;
    padding-top: 20px;
}
.beau-search{
    padding: 17px 0 12px;
    text-align: right;
    position: relative;
}
.beau-search input{
    background: url("../images/icons/search-bg.png");
    height: 25px;
    font-weight: 300;
    font-size: 12px;
    color: #636262;
    width: 196px;
    border: none;
    margin: 0;
    border-radius:200px;
    -moz-border-radius:  200px ;
    border: 1px solid #d7d7d7;
    padding: 12px 14px;
}
.beau-search-icon{
    position: absolute;
    right:17px;
    top: 23px;
    background: #fff;
    background: url("../images/icons/bg-search.png") no-repeat center;
    width: 14px;
    height: 14px;
    opacity: 0.8;
}
.beau-search-result{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.beau-search-result .gallery p{
    height: auto!important;
    position: relative;
}