/* Table of Content
==================================================
	#General Sites
	#Misc */

@import url("font-awesome.min.css");
@import url("base.css");
@import url("widgets.css");
@import url("shortcodes.css");

/*=========================================================================
  Main
//=======================================================================*/
body{
    font-family: 'Roboto Slab', Arial, sans-serif;
	font-size:13px;
	line-height:22px;
	color:#464646;
	font-weight:400;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body.style1{
    background:url(../images/body-bg.png) repeat;
}
body.style2{
    background:#fff;
}
#st-wrapper{
    position: relative;
	max-width:1900px;
	margin:0 auto;
	-webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow:0 0 8px rgba(0, 0, 0, 0.3);
			box-shadow:0 0 8px rgba(0, 0, 0, 0.3);
}
.muted{
	margin:50px 0;
}
.row-fluid [class*="span"]{
	min-height:1px;
}
img.attachment-full{
	width:100%;
}
iframe{
    min-height: 550px !important;
    width: 100% !important;
}
/*=========================================================================
  Html Element
//=======================================================================*/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
	font-weight:600;
	color:#464646;
}
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i{
	margin-right:5px;
}
a,
#footer #copyright-wrapper a{
	outline:none;
	color:#252525;
}
a:hover,
a:focus{
	text-decoration:none;
	outline:none;
}

li{
	line-height:22px;
}

.table{
	overflow: auto;
}
.table th, .table td{
	border:none;
}
.table th{
	color: #666;
    font-weight:700;
	text-transform:uppercase;
}
.table tbody tr td{
	border-top-style:solid;
	border-top-width:1px;
}

code{
	white-space:inherit;
}
.edit-link{
    margin: 0 auto;
    max-width: 100px;
}
.post-edit-link {
    border: 3px solid #cfc2b0;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px 0 30px;
    position: relative;
    margin: 0 auto;
    color: #cfc2b0;
}
.post-edit-link:before{
	position:absolute;
	content:'\f040';
	display:block;
	font-family:FontAwesome;
	font-size:14px;
	font-weight:300;
	left:10px;
}
.btn, button, html input[type="button"], input[type="reset"], input[type="submit"]{
	-webkit-border-radius:0 0 0;
	   -moz-border-radius:0 0 0;
			border-radius:0 0 0;
}
/*=========================================================================
  Default Header Element
//=======================================================================*/
#header{
    position: relative;
    /*z-index: 10000;*/
}
#header #middle-wrapper .container{
	height:100%;
}
/*call-us*/
.header-call ul{
	margin:0;
}
.header-call li i{
	color:#c0c0c0;
	margin-right:5px;
}

/*searchform*/
#header #searchform, #header #searchform input{
	margin:0;
}

#bottom-wrapper:after{
	clear:both;
	display:block;
	content:'';
}

/*=========================================================================
  Main Menu
//=======================================================================*/
#right-primaryt{
	display:block;
    opacity: 0.8;
}
#toggle-menu,
#mobile-primary,
#mobile-container,
.mobile-primary{
	display: none;
}
ul.primary-menu{
	list-style:none;
	margin:0;
	padding:0;
	font-weight:400;
    min-height: 1px;
    background: url("../images/icons/bg-primary-menu.png") repeat-x top;
}
ul.primary-menu li{
	position:relative;
	display:inline-block;
	margin:0;
    float: left;

}
ul.primary-menu li a{
	display:block;
    padding: 14px 25px 16px;
	position:relative;
	z-index:1;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;transition: all 300ms linear;
    opacity: 0.8;
}
ul#left-primary.primary-menu li a {
    /*padding: 14px 13px 16px;*/
}
ul.primary-menu li:first-child a{
    padding-left: 0 !important;
}
ul#left-primary.primary-menu li .sub-menu li a {
    padding: 8px 27px 8px 35px !important;
}
ul#right-primary.primary-menu li:first-child a{
    padding: 14px 27px 16px;
}
ul#right-primary.primary-menu li:last-child a{
    padding-right: 0;
}
ul.primary-menu li a i{
	color:#dcdcde;
}

/*sub-menu*/
ul.primary-menu ul{
	font-weight:normal;
	display:none;
	position:absolute;
	top:100%;
	left:0;
	/*z-index:999;*/
    padding: 16px 0;
	width:250px;
	margin:0;
    background: rgba(255, 255, 255, 0.9);
}
ul.primary-menu li.active{
    z-index: 1000;
}
ul.primary-menu li.active>a, ul.primary-menu li a:hover{
    color: #000;
    opacity: 1;
}
ul.primary-menu li li{
	display:block;
    width: 100%;
    background: url("../images/icons/bg-primary-arrow.png") no-repeat 20px center ;
}
ul.primary-menu li li:first-child{
    /*margin-top: 30px;*/
}
ul.primary-menu li li a{
	padding:8px 27px 8px 35px;
	font-size:16px;
    text-transform: none;
    opacity: 0.8;
}
ul.primary-menu li li a:hover{
    border: none;
}
ul.primary-menu li li:first-child a{
    padding:8px 27px 8px 35px;
}

/*sub-sub-menu*/
ul.primary-menu ul ul{
	top:0;
	left:210px;
}
.primary-menu-sub-bg{
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    border: 2px solid #fff;
    opacity: 0.8;;

}
/*the main menu in a hover state*/
.primary-menu li a:hover,
.primary-menu li:hover > a,
.primary-menu li:hover > a i,
.primary-menu li.current-menu-ancestor a,
.primary-menu li.current_page_item a,
.primary-menu li.current-menu-ancestor a i,
.primary-menu li.current_page_item a i,
.primary-menu li.current-menu-ancestor li a:hover,
.primary-menu li.current_page_item li a:hover,
.style-2 ul.primary-menu li li a:hover,
.style-2 ul.primary-menu li li:hover > a,
.style-2 ul.primary-menu li.current_page_ancestor li a:hover i,
#sticky-header ul.primary-menu li li a:hover,
#sticky-header ul.primary-menu li li:hover > a,
#sticky-header ul.primary-menu li.current_page_ancestor li a:hover i,
ul.primary-menu li li:hover > a,
ul.primary-menu li li:hover > a i{
	color:#444;
}

ul.primary-menu li li a:hover,
ul.primary-menu li li:hover > a,
.style-2 ul.primary-menu li li a:hover,
.style-2 ul.primary-menu li li:hover > a,
#sticky-header ul.primary-menu li li a:hover,
#sticky-header ul.primary-menu li li:hover > a{
	background-color:#f8f8f8;
}

/*=========================================================================
  Custom Header Style
//=======================================================================*/
/*header style 1*/
.beau-header-bg-style{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 229px;
}
.beau-header-bg-style.style-2{
    z-index: 1;
    background: url("../images/icons/bg-style2-header.png") repeat-x;
    opacity: 0.5;
}
.style-3 ul.primary-menu ul li a i{
	display:inline-block;
	font-size:13px;
}
.breadcrumb{
	background: url("../images/icons/bg-breadcrum.png") repeat-x bottom;
    font-size: 12px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px 0 10px;
    font-size: 14px;
    font-weight: 300;
    color: #464646;
    position: relative;
    z-index: 2;
    -webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;

}
.breadcrumb.style2{
    border-bottom: 1px solid #cfc2b0;
    background: none;
}
.breadcrumb > ul{
    margin: 0;
}
.breadcrumb > li{
	text-shadow:none;
}
.breadcrumb .active,
.breadcrumb li a:hover{
	color:#e77f66;
    /*text-transform: lowercase;*/
}
/*=========================================================================
  Main Wrapper
//=======================================================================*/
#main-wrapper,
#section-wrapper .st-section {
	padding: 60px 0 50px;
}

/*pagination*/
.pagination{
    color: #464646;
    font-size: 18px;
    padding-top: 22px;
}
.pagination .current,
.pagination a{
    border-right: 1px solid #464646;
    padding: 0 12px;
}
.pagination .current{
    color: #e77f66;
}

/*=========================================================================
  Footer
//=======================================================================*/
#footer {
    position: relative;
}
#footer .widget{
    margin: 0;
}
#footer .ft-bg{
    background: url("../images/icons/bg-slider-matt-1.png") repeat-x top center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#footer .ft-bg.style2{
    background: url("../images/icons/bg-footer-style2.png") repeat;
    top: 100px;
    bottom: 80px;
    opacity: 0.2;
}
#footer .ft-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#footer .ft-img img{
    width: 100%;
    max-width: none;
    height: auto;
}
#footer a{
	color:#efefef;
}
#footer h3 span{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    color: #464646;
}
#footer-wrapper{
    color: #464646;;
	padding:163px 0 0;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}
.footer-top{
    background:url("../images/icons/bg-dot.jpg") repeat-x ;
    /*margin-bottom: 150px;*/
}
.style2 .footer-top{
    background:none;
    /*padding-top:74px;*/
}
.footer-top .span4{
    padding-right: 120px;
}
.footer-top .span4:last-child{
    padding-right: 0;
}
.footer-bottom{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 25px;
}
.style2 .footer-bottom{
    color: #464646;
    padding-top: 50px;
}
.footer-bottom .span6:last-child{
    text-align: right;
    font-size: 15px;
}
#copyright-wrapper {
	font-size:12px;
	padding: 15px 0;
	background-color:#fff;
}
#copyright-wrapper [class*="span"]{
	min-height:1px;
}
#copyright-wrapper #secondary-nav ul{
	margin:0;
}
#copyright-wrapper #secondary-nav ul li{
	line-height:100%;
	padding:0 10px;
	border-left:1px solid rgba(255, 255, 255, 0.1);
}
#copyright-wrapper #secondary-nav ul li:first-child{
	border:none;
}
.scrollTop{
	position:fixed;
    bottom: 55px;
	right:15px;
	display:none;
}
.scrollTop a{
	text-indent:-9999px;
	background: #d3d3d9 url(../images/icons/scroll-top.png) no-repeat center;
	width:40px;
	height:40px;
	display:block;
}
/*=========================================================================
  Comment
//=======================================================================*/
#comments-title{
	margin-bottom:20px;
	padding:10px;
	font-weight:300;
}
#comments-title em{
	font-style:normal;
	font-weight:bold;
}

#comments .commentlist{
	margin:0;
	list-style:none;
}
#comments .commentlist article.comment{
	position:relative;
	padding-left:60px;
}
#comments .commentlist .comment .comment-meta{
	margin-bottom:10px;
}
#comments .commentlist .comment .avatar{
	position:absolute;
	left:0;
	top:0;
	width:50px;
	height:50px;
	overflow:hidden;
	display:block;
	border-radius:50px;
}
#comments .commentlist .comment .commentmetadata{
	float:right;
}
#comments .commentlist .comment .fn{
	font-weight:bold;
	text-transform:uppercase;
}
#comments .commentlist .comment .commentmetadata a:hover,
#comments .commentlist .comment .comment-reply-link:before{
	color:#333;
}
#comments .commentlist .comment .comment-content{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-bottom:20px;
}
#comments .commentlist .comment .comment-reply-link{
	font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
	position:relative;
	font-size:11px;
	padding-left:15px;
}
#comments .commentlist .comment .comment-reply-link:before{
	position:absolute;
	content:'\f112';
	display:block;
	font-weight:normal;
	left:0;
	top:0;
	line-height:120%;
	font-size:11px;
	font-family:FontAwesome;
}
#comments .commentlist .children{
	list-style:none;
}

#respond input[type="text"],
#respond textarea {
	width: 100%;
}
#respond label, #respond input#url{
    display: none;
}
#respond input, #respond p{
    margin-bottom: 0;
}
/*=========================================================================
  Transition Effect
//=======================================================================*/
{
	-webkit-transition:all 0.3s linear;
	   -moz-transition:all 0.3s linear;
			transition:all 0.3s linear;
}

/*layout*/
#comments .commentlist article.comment,
/*shortcodes*/
.st-textbox, .st-heading, .st-iconbox, .st-portfolio .portfolio-container, .st-tabs, .st-testimonial-slider, .st-ctabox, .st-iconbox, .st-historylist,
.st-video, .st-message, .st-accordion, .st-flexslider, .st-progress, .attachment-single .post-thumb, .page-single .post-thumb, .portfolio-single .post-thumb, .portfolio-single .post-media, .portfolio-single .post-slider,
.st-blog .blog-container, .team-container, .st-pricing .plan-container, .st-gmap, .st-contact, .st-testimonial,
/*widget*/
.widget_rss li{
	margin-bottom:20px;
}
.portfolio-list .portfolio-container{
	margin-bottom:30px;
}

.st-historylist .history-icon,
.st-iconbox .iconbox-icon, .st-iconbox.iconbox-top:hover .iconbox-icon,
.st-dropcap, .st-dropcap2{
	background-color:#d3d3d9;
}

/*=========================================================================
  Retina Styles
//=======================================================================*/
.logo-retina{
	display:none;
}
.modal{
    display: none;
    z-index: 100000;
    position: fixed;
    border-radius: 0;
    background: none;
    border: none;
    width: 100%;
    left: auto;
    margin: 0 auto;
    max-width: 1170px;
}
.modal-backdrop, .modal-backdrop.fade.in {
    z-index: 99999;
}
.flexslider .slides .icon-video img{
    width: auto;
}
.icon-video{
    position:absolute;
    left:48%;
    opacity: 0.8;
    cursor: pointer;
    top: 355px;
    z-index: 1000;
}
.icon-video:hover{
    opacity: 1;
}
.bottom-typo{
    top: 585px;
}
.text-slider-video{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 40%;
}
.beau-getting-married.modal-container{
    z-index: 100000;
}
.fluidvids{
    padding-top: 56.3% !important;
}
.frame-vimeo .fluidvids{
    padding-top: 55% !important;
}