/* Large desktop */
@media (min-width: 1400px) {
    .slider-text{
        top: 380px
    }

}
@media (min-width: 1200px) {
	#st-wrapper.boxed{
		width:1230px;
	}
    #footer .ft-img img {
        width:100%;
        max-width:100%;
    }
}

@media (max-width: 1200px) {
    ul.primary-menu li a{
        display:block;
        padding: 12px 18px 16px;
        position:relative;
        z-index:1;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;transition: all 300ms linear;
        opacity: 0.8;
    }
    ul.primary-menu li:first-child a{
        padding-left: 0;
    }
    ul#right-primary.primary-menu li:first-child a{
        padding: 12px 20px 16px;
    }
    .beau-event-tweet.style2 .home-tweet-follow a.btn{
        margin-top: 0;
    }
    .beau-event-tweet, #footer-wrapper{
        padding: 0 20px;
    }
    .beau-event-tweet, .beau-gallery-slide, .beau-blog, .beau-getting-married, .beau-attending-form, .beau-contact, .beau-gallery{
        padding: 106px 20px 0;
    }
    .row-fluid .span7 {
        width: 56%;
    }
}

/* Large tablets */
@media (max-width: 1030px) {

    .beau-header-top{
        padding: 0 10px;
    }
    .beau-animated.beau-viewport.fade-in {
        -webkit-animation:beau_fadein 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
        -moz-animation:beau_fadein 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
        -o-animation:beau_fadein 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
        animation:beau_fadein 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
    }
    .beau-animated.beau-viewport.small-to-large {
        -webkit-animation:beau_zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
        -moz-animation:beau_zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
        -o-animation:beau_zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
        animation:beau_zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;
    }
    .beau-animated.beau-viewport.move-to-left {
        -webkit-animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
        -moz-animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
        -o-animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
        animation:beau_move_to_left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0s normal none 1;
    }
    .beau-animated.beau-viewport.move-to-right {
        -webkit-animation:beau_move_to_right 0.5s 1 cubic-bezier(.177, 0, .175, 1.275);
        -moz-animation:beau_move_to_right 0.5s 1 cubic-bezier(.177, 0, .175, 1.275);
        -o-animation:beau_move_to_right 0.5s 1 cubic-bezier(.177, 0, .175, 1.275);
        animation:beau_move_to_right 0.5s 1 cubic-bezier(.177, 0, .175, 1.275);
    }
    .beau-animated.beau-viewport.move-to-bottom {
        -webkit-animation:beau_move_to_bottom 0.5s 1 cubic-bezier(1, 0, 0, 1);
        -moz-animation:beau_move_to_bottom 0.5s 1 cubic-bezier(1, 0, 0, 1);
        -o-animation:beau_move_to_bottom 0.5s 1 cubic-bezier(1, 0, 0, 1);
        animation:beau_move_to_bottom 0.5s 1 cubic-bezier(1, 0, 0, 1);
    }
    .beau-animated.beau-viewport.move-to-top {
        -webkit-animation:beau_move_to_top 0.5s 1 cubic-bezier(.77, 0, .175, 1);
        -moz-animation:beau_move_to_top 0.5s 1 cubic-bezier(.77, 0, .175, 1);
        -o-animation:beau_move_to_top 0.5s 1 cubic-bezier(.77, 0, .175, 1);
        animation:beau_move_to_top 0.5s 1 cubic-bezier(.77, 0, .175, 1);
    }


    ul.primary-menu li a{
        font-size: 14px;
    }
    #footer-wrapper {
        color: #464646;
        padding: 153px 10px 0;
    }
    .slides-matt.style2{
        top: 230px;
    }
    .slider-text{
        top: 35%;
    }
    .beau-couple-slide{
        margin: 0px auto 0;
        min-height: 445px;
    }
    #evet-slide .flex-control-nav a.title {
        font-size: 18px;
    }
    .beau-event-tweet, .beau-gallery-slide, .beau-blog, .beau-getting-married, .beau-attending-form, .beau-contact, .beau-gallery{
        padding: 106px 10px 0;
    }
    .jcarouse .thumb{
        width: 210px;
    }
    .beau-attending-form .attending {
        padding: 44px 150px 0;
    }
    .breadcrumb{
        padding: 15px 10px 10px;
    }
    .beau-event-tweet.beau-temp-event {
        padding: 60px 60px 0;
    }
    .beau-event-tweet.beau-temp-event-list {
        padding: 70px 10px 0;
    }
    .beau-blog-detail .month-year {
        line-height: 35px;
    }
    .beau-blog .content {
        padding: 30px 0 1px;
    }
    .beau-blog h3{
        margin-bottom: 10px;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span9 {
        padding-right: 20px;
    }
    .beau-blog .beau-blog-detail.row-fluid .span3{
        padding-left: 20px;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span3{
        padding-right: 20px;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span9{
        padding-left: 20px;
    }
    .style2 .f-bg{
        left: 10.3%;
        right: 10.3%;
    }
    .style2 .f-bg-left-top,
    .style2 .f-bg-left-bottom{
    left: 10%;
    }
    .style2 .f-bg-right-top,
    .style2 .f-bg-right-bottom{
        right: 10%;
    }
    .beau-event-tweet.style2 .home-event .flex-control-nav{
        bottom: 175px;
    }
    #footer .ft-img img {
        width:auto;
        max-width:none;
        height: 100%;
    }
}
@media (max-width: 979px) {
	#sticky-header,
	.sticky-search,
	.sticky-form,
	#primary-menu{
		display: none;
        width: 100%;
        float: right;
	}
    #header #searchform input,
    .sticky-search input{
        padding: 12px;
        margin-top: -1px;
    }
	/*
	Menu Mobile
	*/
    nav#primary-nav{
        display: block;
        background: url(../images/icons/bg-toggle.png) repeat-x bottom;
    }
	#toggle-menu{
		position:relative;
		padding: 0 10px;
		display: block;
		height:45px;
		line-height:45px;
		text-transform:uppercase;
		text-align:left;
		font-weight:400;
		color:#464646;
		cursor:pointer;
        /*background: url(../images/icons/bg-toggle.png) repeat-x bottom;*/
        /*border-bottom: 1px solid #464646;*/
        width: 20%;
        float: left;
	}
	#toggle-menu span{
		position:absolute;
		top:14px;
		border-bottom: 10px double #464646;
		border-top:3px solid #464646;
		height: 17px;
		width:20px;
    }
	#mobile-container{
		display: block;
        top: 45px;
        position: relative;
	}
	#mobile-menu {
		display:none;
		margin:0;
		padding: 0;
		right:0;
		left:0;
		z-index:110;
		text-align:left;		
		background-color:#fff;
		position:absolute;
		overflow:hidden;
	}
	#mobile-menu li {
		display: block;
	}
	#mobile-menu li a{
		display: block;
		padding:8px 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color:#464646;
        text-transform: uppercase;
	}	
	#mobile-menu li li > a{
		padding-left: 40px;
	}
	#mobile-menu li li li > a{
		padding-left: 60px;
	}
	#mobile-menu li a i{
		display:none;
	}
	#mobile-menu ul.sub-menu {
		display: none;
		width:100%;
		position:relative;
		margin:0;
	}
	#mobile-menu ul.sub-menu ul{
		left:0;
		background-color:#323234;
	}
	
	#mobile-menu li.menu-parent-item > a{
		position:relative;
	}
	#mobile-menu li.menu-parent-item > a:after{
		position:absolute;
		content: "\f054";
		right:20px;
		top:8px;
        font-size: 12px;
         opacity: 0.7;
		font-family:FontAwesome;
	}	
	#mobile-menu li.menu-parent-item > a.active:after{
		content: "\f078";
	}
	.scrollTop{
		top:auto;
		bottom:15px;
		right:15px;
	}
    /* Slide*/
    .flexslider .slides > li {
        display: none;
        -webkit-backface-visibility: hidden;
        height: 750px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .slider-text{
        z-index: 106;
        padding-left: 0;
        width: 100%;
    }
    .slider-text .right-text{
        background: none;
    }
    .slider-text .left-text .text-top,
    .slider-text .left-text .text-year,
    .slider-text .right-text,
    .slider-text .right-text .text-center{
        text-align: center;
        padding-left: 0;
    }
    .flexslider ul li img{
        height: 750px !important;
        position: absolute;
        left: -200%;
        right: -200%;
        margin: auto;
        height: auto;
        width: auto !important;
        max-width: none;
    }
    .slides-matt {

    }
    .slides-matt img{
        left: -200%;
        right: -200%;
        margin: auto;
        height: auto;
        width: 100%;
    }

    /*ALL*/
    .beau-couple-slide{
        margin: 0 auto;
    }
    .beau-event-tweet.style2,
    .beau-gallery-style2
    .beau-gallery-slide,
    .beau-blog,
    .beau-getting-married,
    .beau-attending-form,
    .beau-contact,
    .beau-gallery,
    .beau-gallery-style2{
        padding-left: 40px;
        padding-right: 40px;
    }
    .beau-getting-married .getting-married-date,
    .beau-gallery-slide .gallery-slide-content,
    .beau-blog .blog-content,
    .beau-attending-form .attending-content,
    .beau-contact .contact-content,
    .beau-event-tweet .span6{
        padding: 0;
        padding: 10px 0 25px;
    }
    /*
    * Couple
    */
    .beau-couple-slide{
        height: 520px;
        width: 100%;
        position: relative;
        overflow: hidden;
        text-align: left;
    }
    .beau-couple-slide img{
        height: 100% !important;
        position: absolute;
        left: -100%;
        right: -100%;
        margin: auto;
        height: auto;
        max-width: none;
        width: auto;
    }
    .couple-slide-left .couple-img,
    .couple-slide-left .couple-text{
        left: 10px;
    }
    .couple-slide-right .couple-img,
    .couple-slide-right .couple-text{
        right: 10px;
    }
    .couple-slide-left .couple-img-elipse img{
        width: auto;
        height: 200px !important;
        left: auto;
        right: 0;
        margin: 0;
        top: 30%;
    }
    .couple-slide-right .couple-img-elipse img{
        width: auto;
        height: 200px !important;
        left: 0;
        right: auto;
        margin: 0;
        top: 30%;
    }

    /* ------------------- Social -------------------*/
    .beau-header-top .row-fluid .span4{
        display: none;
    }
    .beau-header-top .row-fluid .span4.logo{
        display: block;
    }
    .beau-header-top .row-fluid .span4.logo img{
        width: 40%;
    }
    .beau-social{
        padding: 14px 0;
    }
    .beau-social ul{
        float: right;
    }
    /*-----------------Blog------------------------*/
    .row-fluid [class*="span"]{
        margin-left: 0;
        width: 100%;
    }
    .beau-blog .blog-lists .row-fluid .span6.blog-even-l {
        text-align: center;
        padding: 0 70px 0px 50px;
    }
    .beau-blog .content{
        text-align: center;
    }
    .beau-blog.style2 .content{
        text-align: left;
    }
    .beau-blog .odd, .beau-blog .bg-r .odd{
        background: none;
    }
    .beau-blog .odd-bg {
        display: none;
    }
    .beau-blog .blog-lists .row-fluid .span6.blog-odd,
    .beau-blog .blog-lists .row-fluid .span6.blog-even{
        width: 100%;
    }
    .beau-blog .blog-content,.beau-contact .contact-content{
        padding: 10px 0 25px;
    }
    .beau-couple-slide .span6{
        width: 50%;
    }
    .row-fluid .span4.logo{
        width: 100%;
        margin: 0 auto;
    }
    /* Tweet*/
    .beau-event-tweet .span6.home-event:first-child{
        border: none;
    }
    .beau-event-tweet .home-tweet-follow h2{
        text-align: center  ;
    }
    .home-tweet-follow .tweet-text{
        text-align: center;
        padding: 0 30px;
    }
    .beau-event-tweet.style2 .span6.move-to-right .tweet-text{
        padding-right: 20px;
    }
    .beau-event-tweet.style2 .span6.move-to-right p.tweet-text,
    .beau-event-tweet.style2 .home-tweet-follow .tweet-text,
    .beau-event-tweet.style2 .span6.move-to-left p.tweet-text,
    .beau-event-tweet.style2 .home-tweet-follow .tweet-text{
        padding: 0;
    }
    .beau-event-tweet.style2 .span6.move-to-left .tweet-text{
        padding-left: 20px;
        text-align: left;
    }
    .home-tweet-follow .tweet-text iframe{
        width: 100% !important;
    }
    .beau-event-tweet.style2 .latest-tweets ul li{
        padding-left: 0;
    }
    .style2 .home-tweet-follow a.btn{
        margin-top: 15px;
    }
    .beau-event-tweet.style2 .home-event .flex-control-nav li{
        padding: 40px 20px 20px;
    }
    .beau-event-tweet.style2 .home-event .flex-control-nav{
        right: 20px;
    }
    .beau-event-tweet.style2 .home-event .flex-control-nav{
        bottom: 20px;
    }
    .home-tweet-follow .question-border{
        left: 0 !important;
        right: 0 !important;
    }
    .beau-event-tweet .span6:last-child{
        border: none;
        margin: 0;
    }
    .beau-event-tweet.style2 .home-tweet-follow .span6{
        width: 50%;
        float: left;
    }
    .beau-event-tweet.style2 .home-tweet-follow .span6 .span9{
        width: 74.30939226519337%;
        float: left;
    }
    .beau-event-tweet.style2 .home-tweet-follow .span6 .span3{
        width: 25.6%;
        float: left;
    }
    /*
    *
    */
    .breadcrumb{
        text-align: center;
    }
    /* Event*/
    .jcarouse {
                  width: 100%;
                  max-height: none !important;
                  height: 1200px !important;
              }
    #evet-slide .span5{
        padding: 0;
    }
    .jcarouse .info{
        text-align: center;
    }
    .beau-temp-event-detail .beau-event-content{
         padding: 10px 10px 33px;
     }
    #evet-slide figure.effect-bubba figcaption::before,
    #evet-slide figure.effect-bubba figcaption::after {
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
    }
    .beau-temp-event-list .beau-temp-event-item-l,
    .beau-temp-event-list .span6.beau-temp-event-item-r{
        border: none;
        border-right: none;
        border-text: none;
        text-align: center;;
    }
    .beau-temp-event-list .beau-temp-event-item-l:after,
    .beau-temp-event-list .beau-temp-event-item-r:after{
        background: none !important;
    }
    .temp-event-item-img.hover-img img{
        width: 100%;
    }
    .beau-temp-event-list .span6.beau-temp-event-item-r,
    .beau-temp-event-list .beau-temp-event-item-l{
        margin-top: 0 !important;
        padding-left: 0;
    }
    .beau-event-tweet.beau-temp-event-list{
        padding-top: 10px;
    }
    .beau-temp-event-detail .span5 .st-gmap {
        margin: 0;
        height: 400px !important;
    }
    /*Event Detail*/
    .event-detail-content-info{
        position: static;
        width: 100%;
    }
    .event-detail-text{
        padding: 20px 0;
    }
    .beau-temp-event-detail .beau-event-tweet.beau-temp-event-list {
        padding-left: 0;
        padding-right: 0;
    }
    .beau-attending-form .attending{
        padding-left:0px ;
        padding-right:0px ;
        padding-left: 60px;
        padding-right: 60px;
    }
    /*Home and Blog*/
    .beau-blog.stretch-layout .row-fluid {
        padding-bottom: 30px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .beau-blog.stretch-layout.style2 .row-fluid {
        padding-bottom: 30px;
        /* display: -webkit-box; */
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        /* -webkit-flex-direction: column; */
        -ms-flex-direction: column;
        flex-direction: inherit;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .beau-blog.stretch-layout.style2 .span1{
        width: 12.801105%;
    }
    .beau-blog.stretch-layout.style2 .span11{
        width: 91.666666666666667%;
    }
    .style2 .f-bg {
        left: 0.3%;
        right: 0.3%;
    }
    .style2 .f-bg-left-top, .style2 .f-bg-left-bottom{
        left: 0%;
    }
    .style2 .f-bg-right-top,.style2 .f-bg-right-bottom{
        right: 0%;
    }
    .beau-attending-form.style2 .attending {
        padding-left: 20px;
        padding-right: 20px;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span3 {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .beau-blog-detail.beau-blog-left-side .full-content {
        padding-bottom: 30px;
    }
    .beau-blog .blog-lists .row-fluid .span6.blog-even-l
    {
        padding: 0;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .beau-blog .blog-lists .row-fluid .span6.blog-odd-r, .beau-blog .blog-lists .row-fluid .span6.blog-even-l{
        padding: 0;
        background: url(../images/icons/bg-toggle.png) repeat-x bottom;
    }
    .blog-list-container{
        padding: 0 10px;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side  [class*="span"],
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side [class*="span"],
    .row-fluid.beau-blog-detail [class*="span"],
    .beau-blog .beau-blog-detail.row-fluid [class*="span"]{
        width: 100% !important;
        /*text-align: left;*/
        padding:0;
        margin-left: 0 !important;

    }
    .beau-blog.stretch-layout .widget-blog .row-fluid {
        display:block;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .widget-blog,
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .widget-blog,
    .row-fluid.beau-blog-detail .widget-blog,
    .beau-blog .beau-blog-detail.row-fluid .widget-blog{
        padding: 0 100px;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .widget-blog .span4,
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .widget-blog .span4,
    .row-fluid.beau-blog-detail .widget-blog .span4,
    .beau-blog .beau-blog-detail.row-fluid .widget-blog .span4{
        width: 40% !important;
        float: left;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .widget-blog .span7,
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .widget-blog .span7,
    .row-fluid.beau-blog-detail .widget-blog .span7,
    .beau-blog .beau-blog-detail.row-fluid .widget-blog .span7{
        width: 60% !important;
        padding-left: 20px;
        float: left;
    }

    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .widget-blog .span3,
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .widget-blog .span3,
    .row-fluid.beau-blog-detail .widget-blog .span3,
    .beau-blog .beau-blog-detail.row-fluid .widget-blog .span3{
        width: 25% !important;
        padding-left: 20px;
        float: left;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .widget-blog .span9,
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .widget-blog .span9,
    .row-fluid.beau-blog-detail .widget-blog .span9,
    .beau-blog .beau-blog-detail.row-fluid .widget-blog .span9{
        width: 75% !important;
        padding-left: 20px;
        text-align: left;
        float: left;
    }
    .beau-blog-detail h3,
    .beau-blog-detail .date,
    .beau-blog-detail .month-year{
        /*text-align: center;*/
    }
    .beau-blog-detail.beau-blog-right-side .full-content {
        padding-bottom: 30px;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span9,
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span9,
    .beau-blog .beau-blog-detail.row-fluid .span8{
        border: none;
        text-align: center;
    }
    .beau-blog.style2 .blog-list-container, .blog-list-container a{
        padding: 0;
        width: 100%;
    }
    .recent-post img {
        max-width: 100%;
    }
    .recent-post .span7, .recent-comment .span9{
        margin-top: 20px;
    }
    .recent-comment img {
        width: 200px;
         height: auto;
    }
    .gallery .span2{
        /*position: relative !important;*/
    }
    .grid{
        padding: 0;
    }
    .beau-event-tweet.beau-temp-event {
        padding: 60px 10px 0;
    }
    /*Contact*/
    .beau-contact .span6:first-child {
        border-right: none;
    }
    .beau-contact .span6{
        padding: 0;
    }

    /*Footer*/
    .footer-top.row-fluid{
        /*display: none;*/
    }
    .footer-top .span4:last-child {
        display: none;
    }
    .footer-top .span4{
        padding-right: 0;
        width: 50%;
        float: left;
        text-align: left;
        padding: 0 30px;
    }
    #footer-wrapper {
        padding-top: 160px;
    }
    #footer .ft-img {
        display: none;
    }
    #footer-wrapper{
        text-align: center !important;
    }
    .footer-bottom .span6:last-child{
        text-align: center;
    }
    .footer-bottom{
        color: #464646;
    }
    /* Widgest*/
    .widget_recent_entries li:before, .widget_recent_comments li:before, .widget_archive li:before, .widget_categories li:before, .widget_meta li:before, .widget_pages li:before, .widget_links li:before{
        content: none;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side span3.widget-blog .row-fluid .span4 {
        width: 33.33333333333333333334%;
    }
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side span3.widget-blog .row-fluid .span7 {
        width: 58%;
    }
    /*404*/
    .text404{
        font-size: 200px;
        line-height: 80px;
    }
    #footer-wrapper{
        padding-top: 400px;
    }
    .gallery.style2 [class*="span"]{
        padding: 0;
        margin-bottom: 20px;
    }
    .beau-event-tweet.style2, .beau-gallery-slide.style2,
    .beau-blog.style2, .beau-getting-married.style2,
    .beau-attending-form.style2, .beau-contact.style2, .beau-gallery.style2,
    .gallery.style2{
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    }
    .beau-event-tweet.event.style2{
        padding-left: 0;
        padding-right: 0;
    }
    .event-detail-content-info .span4{
        background: url("../images/icons/bg-breadcrum.png") repeat-x bottom;
        padding: 30px 0;
        text-align: center;
    }
    .gallery.style2 .zoom-overlay {
        left: 30px;
        top: 30px;
        bottom: 30px;
        right: 30px;
    }
    .beau-getting-married.style2 .getting-married, .beau-gallery-slide.style2 .gallery-slide-title, .beau-blog.style2 .blog-title, .beau-attending-form.style2 .attending-title, .beau-contact.style2 .contact-title{
        line-height: 55px;
    }
    .span6.contact-form,
    .span6.contact-form input, .span6.contact-form textarea, .comment-reply input, .comment-reply textarea
    {
        text-align: left;
    }
    .home-tweet-follow .name, .home-tweet-follow .acc-tweet{
        text-align: center;
    }
    .home-event .flex-control-nav li {
        padding: 15px 20px 20px;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	/* Layout */
	#st-wrapper.boxed{
		width:764px;
	}
    .style2 .f-bg-left-top,
    .style2 .f-bg-left-bottom{
        left: 0%;
    }
    .style2 .f-bg-right-top,
    .style2 .f-bg-right-bottom{
        right: 0%;
    }
    .beau-blog.stretch-layout.style2 .span1 {
        width: 12.801105%;
    }
	/* Shortcodes */
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	/* Layout */
	body{
		padding:0;
	}
	#st-wrapper.boxed{
		width:100%;
		margin:0 auto;
	}
	.container{
		padding-left:15px;
		padding-right:15px;
	}
	.page-title{
		margin:0;
		font-size:30px;
		text-align:center;
	}
	
	#copyright-wrapper,
	#secondary-nav{
		text-align:center;
	}
	/* Shortcodes */
	.gallery [class*="span"]{
        width: 100% !important;
        margin-left: 0;
    }
    .gallery .grid figure img{
        width: 100%;
    }

    .beau-event-tweet.style2 .home-tweet-follow a.btn{
        /*width: 100%;*/
    }
	/* Widgets */

    .gallery .span2{
        padding-bottom: 20px;
    }
    .slides-matt.style2 {
        top: 400px;
    }
    .couple-text {
        padding: 40px 20px;
    }
    #footer-wrapper.style2{
        padding-top: 165px;
    }
    .style2 .footer-top.row-fluid{
        display: block;
    }
    .style2 .footer-top .span4{
        padding-right: 0;
    }
    #footer-wrapper.style2 {
              padding-top: 100px;
          }
    .beau-event-tweet.style2 .home-tweet-follow .span6 {
        width: 100%;
        float: left;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .beau-header-top .row-fluid .span4.logo img{
        width: 60%;
    }
	/* Layout */
	body{
		padding:0;
	}
	#st-wrapper.boxed{
		width:100%;
	}
	.container{
		padding-left:15px;
		padding-right:15px;
	}
    .beau-event-tweet h2,
    .beau-getting-married .getting-married,
    .beau-gallery-slide .gallery-slide-title,
    .beau-blog .blog-title,
    .beau-attending-form .attending-title,
    .beau-contact .contact-title{
        font-size: 24px;
    }
    .beau-getting-married.style2 .getting-married, .beau-gallery-slide.style2 .gallery-slide-title, .beau-blog.style2 .blog-title, .beau-attending-form.style2 .attending-title, .beau-contact.style2 .contact-title{
        font-size: 24px;
    }
	/* Shortcodes */	
    .beau-getting-married .getting-married-date,
    .beau-gallery-slide .gallery-slide-content,
    .beau-blog .blog-content,
    .beau-attending-form .attending-content,
    .beau-contact .contact-content,
    .beau-temp-event-detail .beau-event-content {
        padding: 10px 10px 33px;
    }
    .flexslider .flex-direction-nav .flex-next{
        right: 10px;
    }
    .flexslider .flex-direction-nav .flex-prev{
        left: 10px;
    }
    .slider-text .left-text .text-top,
    .slider-text .right-text .text-top,
    .slider-text .right-text .text-bottom{
        font-size: 10px;
        padding: 0;
    }
    .slider-text {
        top: 175px;
    }
    .slider-text .left-text .text-year{
        font-size: 80px;
        min-height: 50px;
        padding-top: 25px;
    }
    .slider-text .right-text .text-center{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .flexslider, .flexslider .slides > li {
        height: 440px !important;
    }
    .flexslider .flex-direction-nav a{
        top:50%;
    }
    .slides-matt {
        bottom: -100px;
        z-index: 100;
        top: 270px;
    }
    .slides-matt.style2{
         top: 80px;
    }
    /*Couple*/
    .beau-couple-slide{
        height: 270px;min-height: 270px;
    }
    .couple-slide-left .couple-img,
    .couple-slide-left .couple-text{
        left: 0px;
    }
    .couple-slide-right .couple-img,
    .couple-slide-right .couple-text{
        right: 10px;
    }
    .couple-text{
        padding: 10px;
    }
    .beau-couple-slide .couple-name{
        font-size: 12px;
    }
    .beau-couple-slide .couple-old{
        padding: 0;
    }
    .beau-couple-slide .couple-content{
        padding: 0;
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .beau-couple-slide img {
        height: auto !important;
        position: absolute;
        width: 100%;
        top: -55px;
    }
    .beau-couple-slide .couple-img-elipse{
         top: 95px;
         width: 100px;
         height: 85px;
    }
    .beau-couple-slide .couple-img-elipse img{
        max-width: 100%;
    }

    /* Tweet*/
    .home-tweet-follow .question{
        font-size: 18px;
        line-height: 22px;
        margin-top: 60px;
        padding: 85px 0px 85px 30px;
    }
    .home-tweet-follow .question .author {
        font-size: 12px;
    }
    blockquote:before, blockquote:after{
        font-size: 60px;
    }
    .home-tweet-follow a.btn{
        margin-top: 0;
    }
    .home-tweet-follow .tweet-text {
        padding: 0 35px;
    }
    /* Blog*/
    .couple-text p{
        padding: 0;
    }
    .beau-blog h3,.beau-blog .full-content h3 {
        font-size: 18px;
    }
    .beau-blog .content{
        text-align: center;
    }
    .beau-blog .blog-lists .row-fluid{
        /*padding: 0;*/
    }
	/* Event */
    .beau-temp-event-list .span6 h2 {
        font-size: 18px;
    }
    .temp-event-item-time > .date {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 0px;
         margin-bottom: 0px;
    }
    .temp-event-item-time > .month-year {
        font-size: 14px;
    }
	/*404*/
    .text404 {
        font-size: 100px;
        line-height: 55px;
    }
    .page-not-found .text-des {
        font-size: 14px;
        line-height: 104px;
    }
    /*Guest book*/
    .guest-book-container{
        padding: 68px 20px;
    }
    .beau-event-tweet.style2 .home-tweet-follow [class*="span"]{
        width: 100%;
        float: left;
    }
    .home-event .flex-control-nav{
        right: 20px;
    }
    /*.flexslider .slides{display: none;}*/
    .home-event .flex-control-nav{
        width: 100%;
        position: static;
        padding: 0 10px;
    }
    .beau-blog.stretch-layout.style2 .span1 {
        width: 18.801105%;
    }
    /* Time Count*/
    .getting-married-date-count .time-text li {
        width: 70px;
    }
    .getting-married-date-count .number ul li{
        font-size: 35px;
        width: 38px;
    }
    .getting-married-date-count .time-text {
        font-size: 12px;
         letter-spacing: 0;
    }
    .beau-animated.beau-viewport.fade-in {
        -webkit-animation:none;
        -moz-animation:none;
        -o-animation:none;
        animation:none;
        opacity:1;
    }
    .beau-animated.beau-viewport.small-to-large {
        -webkit-animation:none;
        -moz-animation:none;
        -o-animation:none;
        animation:none;
        opacity:1;
    }
    .beau-animated.beau-viewport.move-to-left {
        -webkit-animation:none;
        -moz-animation:none;
        -o-animation:none;
        animation:none;
        opacity:1;
    }
    .beau-animated.beau-viewport.move-to-right {
        -webkit-animation:none;
        -moz-animation:none;
        -o-animation:none;
        animation:none;
        opacity:1;
    }
    .beau-animated.beau-viewport.move-to-bottom {
        -webkit-animation:none;
        -moz-animation:none;
        -o-animation:none;
        animation:none;
        opacity:1;
    }
    .beau-animated.beau-viewport.move-to-top {
        -webkit-animation:none;
        -moz-animation:none;
        -o-animation:none;
        animation:none;
        opacity:1
    }

    .beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .widget-blog,
    .beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .widget-blog,
    .row-fluid.beau-blog-detail .widget-blog,
    .beau-blog .beau-blog-detail.row-fluid .widget-blog {
        padding: 0;
    }
    .beau-getting-married .getting-married, .beau-gallery-slide .gallery-slide-title, .beau-blog .blog-title, .beau-attending-form .attending-title, .beau-contact .contact-title{
        line-height: 40px;
    }
    .blog-list-container .full-description,
    .beau-blog-detail .full-description{
        font-size: 18px;
    }
    .home-tweet-follow .tweet-text{
        padding: 0;
    }
    .bg-icon-cut{
        left: 40px;
    }
    .event-detail-content{
        padding: 0;
    }
    .slider-text p{
        font-size: 14px;
    }
    .slider-text .right-text h4{
        font-size: 27px;
    }


    .beau-couple-slide .span6{
        width: 100%;
        position: relative;
    }
    .couple-img, .couple-text {
        position: relative;
    }
    .couple-slide-right{
        left: 0;
    }
    .beau-couple-slide{
        height: auto;
    }
    .couple-img-elipse {
        display: none;

    }

    .beau-attending-form .attending {
        padding-left: 0;
        padding-right: 0;
    }
    .beau-event-tweet, .beau-event-tweet, .beau-gallery-slide, .beau-blog, .beau-gallery-style2,.beau-event-tweet.style2,
     .beau-getting-married, .beau-attending-form, .beau-contact, .beau-gallery {
         padding-left: 10px;
         padding-right: 10px;
     }
    #evet-slide .flexslider .slides{
        display: none;
    }
    .home-event .flexslider {
        height: auto !important;
    }
    .footer-top.row-fluid{
        display: none;
    }
    #footer-wrapper {
        padding-top: 85px;
    }
}
@media (max-width: 320px) {
    .beau-couple-slide img {
        top: 0;
        width: auto;
        left: -100%;
        right: -100%;
    }

}