/*=========================================================================
  Blockquote
//=======================================================================*/
blockquote {
     padding: 0;
     margin: 0;
     border-left:none;
     position: relative;
    padding: 35px 40px;
}
blockquote div {
    padding: 0 40px;
    margin-top: -45px;
    font-style: italic;
    letter-spacing: 1.5px;
}
blockquote:before{
    content: '“';
    font-family: 'AparajitaBold';
    font-size: 92px;
    color: #898989;
    position: absolute;
    left: 0;
    top: 50px
}
blockquote:after{
    content: '”';
    font-family: 'AparajitaBold';
    font-size: 92px;
    color: #898989;
    position: absolute;
    bottom: 0px;
}
.question-bg blockquote{
    padding: 0;
}
.question-bg blockquote:after{
    content: "";
    display: none;
}
.question-bg blockquote:before{
    position:relative;
    top:0;
}
/*=========================================================================
  More-Link
//=======================================================================*/
a.more-link{
	color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    overflow: hidden;
    padding:0;
    position: relative;
	text-indent:20px;
    width: 14px;
	text-indent:15px;
	white-space:nowrap;
	-webkit-transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
	   -moz-transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
			transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
}
.blog-list:hover a.more-link,
a.more-link:hover{
	color:#333;
	width:60px;
	padding:0 20px 0 0;
	text-indent:0;
	-webkit-transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
	   -moz-transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
			transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
}
a.more-link:before{
	content:"\f0a9";
	display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    margin-top: -6px; 
    position: absolute;
    right: 0;
    top: 50%;
	-webkit-transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
	   -moz-transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
			transition:all 0.5s cubic-bezier(0.165, 0.885, 0.935, 1.005) 0s;
}

/*=========================================================================
  Flex Slider
//=======================================================================*/
.flexslider .flex-direction-nav li{
	padding:0;
}
.flexslider .flex-direction-nav a{
	/*top:54%;*/
	top:355px;
	left:0;
	display:block;
	height:80px;
	width:41px;
	text-indent:-9999px;
}
.flexslider .flex-direction-nav .flex-prev{
	background:url(../images/icons/flex-left-arrow.png) no-repeat center;
	left:60px;
    z-index: 112;
    opacity: 0.5;
}
.flexslider .flex-direction-nav .flex-next{
	background:url(../images/icons/flex-right-arrow.png) no-repeat center;
	left:auto;
	right:60px;
    z-index: 112;
    opacity: 0.5;
}
.flexslider .flexslider .flex-control-nav{
	bottom:0;
}
.flexslider .flex-viewport li{
	position:relative;
}
.flexslider .flex-caption{
	position:absolute;
	left:20%;
	right:20%;
	bottom:10%;
	padding:10px;
	color:#fff;
	background-color:rgba(0, 0, 0, 0.4);
}
/*=========================================================================
 Couple Slider
//=======================================================================*/
.beau-couple-slide{
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: -74px auto 0;
    min-height: 520px;
    opacity: 1;
    z-index: 2;
}
.beau-couple-shadow{
    position: absolute;
    top: 20px;
    bottom: -30px;
    right: 0px;
    left: 0px;
    background: url('../images/icons/bg-couple.png') no-repeat bottom center;
    z-index: -1;
}
.beau-couple-slide:after{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
.beau-couple-slide:before, .beau-couple-slide:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}
.st-button, .st-ctabox div.ctabox-button a, .st-pricing .plan-link > a, .btn, button, html input[type="button"], input[type="reset"], input[type="submit"] {
    color: #fff;
    background: #5c908c;
    padding: 18px 40px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    width: auto;
    margin-bottom: 17px;
}
.couple-slide-right{
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;bottom: 0;
    overflow:hidden;
}
.couple-slide-left{
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;bottom: 0;
    overflow:hidden;
}
.couple-img{
    cursor: pointer;
}
.couple-img-elipse{
    position: relative;
    top: 140px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    height: 251px;
    z-index: 10;
    margin: 0 auto;
}
.couple-img, .couple-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.couple-text{
    background: #fff;
    z-index: 1;
    padding: 130px 55px;
    text-align: center;
}
.couple-text p{
    margin: 0;
    padding-top: 15px;
}
.couple-close{
    width: 30px;
    height: 30px;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
.beau-couple-slide img {
    height: 100% !important;
    width: 100%;
}
.couple-slide-left .couple-img-elipse img{
    width: auto;
    height: auto !important;
    left: auto;
    right: 0;
    margin: 0;
    top: 27%;
}
.couple-slide-right .couple-img-elipse img{
    width: auto;
    height: auto !important;
    left: 0;
    right: auto;
    margin: 0;
    top: 27%;
}
.couple-slide-left .couple-close{
    left: 0;right: auto;
}
.beau-couple-slide .couple-name{
    font-weight: 300;
    font-size: 30px;
    color: #e77f66;
    text-transform: uppercase;
}
.beau-couple-slide .couple-old{
    font-weight: 300;
    font-style: italic ;
    font-size: 13px;
    color: #464646;
    padding-top: 5px;
}
.beau-couple-slide .couple-des{
    font-weight: 300;
    font-size: 18px;
    color: #464646;
    padding-bottom: 22px;
    padding-top: 15px;
}
.beau-couple-slide .couple-content{
    font-weight: 300;
    font-size: 14px;
    color: #464646;
    background: url("../images/icons/bg-getting-married.png") no-repeat bottom center;
    padding-bottom: 40px;
}
.beau-couple-slide .couple-social{
    padding-top: 20px;
}
.beau-couple-slide .couple-social li{
    border-radius: 200px;
    border: 1px solid #e2e2e2;
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-right: 7px;
    transition: all 300ms linear;
}
.beau-couple-slide .couple-social li:hover{
    border: 1px solid #464646;
}
.beau-couple-slide .couple-social li i{
    color: #000;
    opacity: 0.8;
}
/*=========================================================================
 Event
//=======================================================================*/
.beau-event-tweet,
.beau-gallery-slide,
.beau-blog,
.beau-getting-married,
.beau-attending-form,
.beau-contact,
.beau-gallery{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
    padding: 106px 0 0;
}

.beau-gallery-slide.style2,
.beau-blog.style2,
.beau-getting-married.style2,
.beau-attending-form.style2,
.beau-contact.style2,
.beau-gallery.style2{
    padding-top: 75px;
}
.beau-event-tweet.style2{
    max-width: 100%;
    padding-top: 75px;
}
.beau-getting-married{
    padding: 70px 0 0;
    z-index: 100;
    position: relative;
}
.beau-getting-married.style2{
    padding: 60px 0 0;
}
.beau-event-tweet.beau-temp-event-list{
    padding: 70px 0 0;
}
.beau-getting-married .getting-married,
.beau-gallery-slide .gallery-slide-title,
.beau-blog .blog-title,
.beau-attending-form .attending-title,
.beau-contact .contact-title
{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 36px;
    color: #e77f66;
    text-align: center;
}
.beau-getting-married.style2 .getting-married,
.beau-gallery-slide.style2 .gallery-slide-title,
.style2 .blog-title,
.beau-attending-form.style2 .attending-title,
.style2 .contact-title,
.beau-event-tweet.style2 h2,
.style2 .beau-event-tweet.beau-temp-event h1
{
    text-transform: none;
    font-family: 'BombshellRegular', Arial, sans-serif;
    font-weight: 300;
    font-size: 36px;
    /*color: #e77f66;*/
    text-align: center;
    text-transform: none;
    background: none;
}
.beau-getting-married .getting-married-date,
.beau-gallery-slide .gallery-slide-content,
.beau-blog .blog-content,
.beau-attending-form .attending-content,
.beau-contact .contact-content,
.beau-temp-event-detail .beau-event-content{
    font-weight: 300;
    font-style: italic ;
    font-size: 16px;
    color: #252525;
    padding: 10px 220px 33px;
    background: url("../images/icons/bg-getting-married.png") no-repeat bottom center;
    opacity: 0.8;
    text-align: center;
}
.style2 .beau-contact .contact-content{
    background: none;
}
.beau-temp-event-detail .beau-event-content{
    padding-top: 0;
}
.beau-getting-married .getting-married-date.style-2,
.beau-gallery-slide .gallery-slide-content.style-2,
.beau-blog .blog-content.style-2,
.beau-attending-form .attending-content.style-2,
.beau-contact .contact-content.style-2,
.beau-temp-event-detail .beau-event-content.style-2{
    background: url("../images/icons/bg-getting-married-style-2.png") no-repeat bottom center;
    padding-top:0;
}
.beau-blog.style2 .blog-content{
    text-align: center;
}
.gallery-slide{
    padding-top: 32px;
}
.getting-married-date-count .number{
    padding-top: 50px;
}
.beau-getting-married.style2 .getting-married-date-count .number{
    padding-top: 0;
}
.getting-married-date-count .number ul li{
    font-weight: 700;
    font-size: 60px;
    color: #5c908c;
    width: 65px;
    position: relative;
}
.style .getting-married-date-count .number ul li{
    font-weight: 400;
}
.getting-married-date-count .time-text{
    font-weight: 400;
    font-size: 16px;
    color: #464646 ;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 3px;
}
.getting-married-date-count .time-text.style-2{
    padding: 0;
}
.getting-married-date-count .time-text li{
    width: 132px;
}
.getting-married-date-count .number span:first-child, .getting-married-date-count .time-text li:first-child{
    margin-left: 0;
}
/*Event Tweets Home*/
.beau-event-tweet{
    font-size: 14px;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    font-weight: 300;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    color: #464646;
}
.beau-event-tweet .span12 h2{
    text-align: center;
    margin-bottom: 22px;
}
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
.beau-event-tweet.beau-temp-event{
    padding: 60px 130px 0;
}
.beau-event-tweet .span6{
    padding:63px 60px 0;
}
.beau-event-tweet.style2 .span6:first-child{
    padding-right: 0;
    padding-top: 0;
    border: none;
}
.beau-event-tweet.style2 .span6:last-child{
    padding-left: 0;
    padding-top: 0;
    border: none;
}
.beau-event-tweet .span6.home-event:first-child{
    border-right: 1px solid #e6e6e6 ;
    padding-left: 0;
    position: relative;
}
.beau-event-tweet .span6 .span2{
    overflow: hidden;
    padding-bottom: 20px;
}
.beau-event-tweet .span6.beau-temp-event-item-l:last-child{
    border-left: none;
    margin-left: 0;
}
.beau-event-tweet h2, .beau-event-tweet.beau-temp-event h1{
    color: #e77f66;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 18px;
}
.beau-event-tweet.beau-temp-event h1{
    margin-bottom: 0;
}
.beau-temp-event-detail h2{
    margin-bottom: 0;
}
.beau-event-tweet.style2 h2{
    text-transform: none;
}
.beau-event-tweet .home-tweet-follow h2{
    text-align: left;
}
.beau-event-tweet .span12.home-tweet-follow h2{
    text-align: center;
}
.beau-event-tweet .bg-flower{

}
.home-tweet-follow img{
    max-width: 80px;
}
.beau-event-tweet.style2 .home-tweet-follow img{
    width: 100%;
    max-width: 100%;
}
.beau-event-tweet.style2 .span9.tweet-text{
    text-align: right;
    padding: 0 30px;
}
.beau-event-tweet.style2 .home-tweet-follow a.btn{
    margin-bottom: 0;
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    margin-left: 0;
    background: none;
    color: #464646;
}
.beau-event-tweet.style2 .home-tweet-follow a.btn:hover{
    color: #fff;
}
.home-event-text{
    padding:12px 0 30px;
    background:url("../images/icons/bg-event-text.png") repeat-x bottom right;
}
.beau-event-tweet.beau-temp-event .home-event-text{
    background: none;
    padding:0;
}
#evet-slide {
    width:100%;
    font-size:12px;
    margin:26px auto;
    font-weight: 300;
}
#evet-slide .next{
    background: url('../images/icons/jca-arrow.png') 0 0 ;
    width: 20px;
    height: 20px;
    margin: 0 auto 30px;
    cursor: pointer;
}
#evet-slide .prev{
    background: url('../images/icons/jca-arrow.png') 0 20px ;
    width: 20px;
    height: 20px;
    margin: 26px auto 0;
    cursor: pointer;
}
#evet-slide .prev:hover, #evet-slide .next:hover{
    opacity:0.6;
}
#evet-slide a {
    text-decoration:none;
}
#evet-slide .span5{
    padding-right: 27px;
}
#evet-slide .title {
    color:#5c908c;
    font-size:18px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
#evet-slide .time,
#evet-slide .location{
    font-size:14px;
    text-transform: uppercase;
}
#evet-slide .location{
    line-height: 15px;
    padding-bottom: 10px;
}
#evet-slide .details {
    font-size:14px;
    text-transform: none;
}
#evet-slide figure.effect-bubba figcaption::before,
#evet-slide figure.effect-bubba figcaption::after{
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
}
#evet-slide img{
    width: 100%;
}
.home-event .flexslider{
    height: 738px !important;
}
.home-event .flex-control-nav{
    width: 370px;
    top: 20px;
    right: 115px;
    bottom: 20px;
    margin: 0;
    position: absolute;
    overflow: inherit;
    padding:0 20px;
    background: #fff;
    z-index:20;
    color: #8d8d8d;
}

.home-event .flex-control-nav li{
    width: 100%;
    background: url("../images/icons/bg-event-style2.png") bottom repeat-x #fff;
    margin: 0;
    padding: 40px 20px 20px;
}
.home-event .flex-control-nav li:last-child{ background: none;}
.home-event .flex-control-nav li{
    padding: 45px 20px 20px;
}
.home-event .flex-control-nav a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 0;
    box-shadow: none;
}
#evet-slide .flex-control-nav a.title {
    font-size: 24px;
}
#evet-slide .flex-control-nav a.title:hover{
    color: #5c908c;
}
#evet-slide .time{
    font-style: italic;
    padding-bottom: 10px;
}
.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover{
    background: none;
}
/*Contact*/
.beau-contact{
    font-size: 14px;
    font-weight: 300;
}
.beau-contact .span6{
    padding-right: 40px
}
.beau-contact .span6:first-child{
    border-right: 1px solid #e6e6e6;
}
.beau-contact h2{
    font-size: 24px;
    margin: 5px 0;
    font-weight: 400;
}
.span6.contact-form{
    text-align: right;

}
.span6.contact-form input,
.span6.contact-form textarea,
.comment-reply input,
.comment-reply textarea{
    margin-bottom: 15px;
    text-align: right;
    border-color: #e6e6e6;
}
.contact-form input:focus, .contact-form textarea:focus{
    border-color:#e6e6e6

}
.span6.contact-form span{
    margin-bottom: 35px;
}
.span6.contact-map{
    text-align: left;
    padding-left: 40px;
}
.span6.contact-map .map-des{
    font-weight: 300;
}
.span6.contact-map span a, .map-des a{
    color: #e77f66;
}
.span6.contact-map .contact-info{
    padding-bottom: 15px;
}
.span6.contact-map .address{
    padding-top: 15px;
}
.colum-item{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

.beau-temp-event-list .span6{
    font-weight: 300;
    position: relative;
}
.beau-temp-event-list .span6.beau-temp-event-item-r{
    text-align: left;
    padding: 25px 0px 25px 30px;
    border-left: 1px solid #e6e6e6;
    position: relative;
    left: -1px;
}
.beau-temp-event-list .span6.beau-temp-event-item-r:first-child{
}
.beau-temp-event-list .beau-temp-event-item-l{
    text-align: right;
    margin-top: -140px;
    padding: 25px 30px 25px 0;
    border-right: 1px solid #e6e6e6;
}
.beau-temp-event-list .beau-temp-event-item-l:first-child{
    margin:0
}
.beau-temp-event-list .beau-temp-event-item-l:after,
.beau-temp-event-list .beau-temp-event-item-r:after{
    background-clip: padding-box;
    background-color: #e6e6e6;
    border-radius: 10px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    left: auto;
    position: absolute;
    right: -8px;
    top: 35px;
    border: 2px solid #fcf7f0;
    animation:1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1 avia_appear;
}
.beau-temp-event-list .beau-temp-event-item-r:after{
    left: -8px;
    right: auto;
}
.beau-temp-event-list .span6 h2{
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 30px;
}
.temp-event-item-time{
    opacity: 0.5;
    color: #363636;
    text-transform: uppercase;
}
.temp-event-item-time > .date{
    font-size: 60px;
    line-height: 50px;
    padding-bottom: 4px;
    margin-bottom: 2px;
}
.temp-event-item-time > .month-year{
    font-size: 16px;
}
.temp-event-item-time > .month-year > span,
.beau-blog-detail .month-year >span
{
    border-top: 2px solid #e6e6e6;
}
.temp-event-item-location{
    font-size:12px ;
    color:#ed967c;
    padding-top: 18px;
}
.temp-event-item-title{
    font-size: 20px;
    color: #464646;
    padding-left: 100px;
    padding-bottom: 10px;
}
.beau-temp-event-item-r .temp-event-item-title{
    padding-left: 0;
    padding-right: 100px;
}
.temp-event-item-description{
    opacity: 0.8;
    font-size: 14px;

}
.beau-temp-event-list-devoted{
    font-size: 48px;
    font-family: "BombshellRegular";
    color: #252525;
    outline: 0.8;
    padding-top: 40px;
    line-height: 55px;
    text-align: center;
    position: relative;
}
.beau-temp-event-list-devoted:before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    font-size: 20px;
    left: 49.3%;
    top: -18px;
}
/*=========================================================================
    BOX .jcarouse
//=======================================================================*/
.jcarouse { width:100%; max-height: 915px !important; }
.jcarouse ul li{ list-style:none; display:block; padding: 20px 0; border-bottom: 1px solid #dde3dd;min-height: 230px !important; height: auto !important; width: 100% !important; }
.jcarouse ul li a{ display:block; color:#514448; }
.jcarouse ul li a:hover{ display:block; color:#DB2E66;  }
.jcarouse .thumb { width:110px; position: relative }
.jcarouse .info {  width:210px;  text-align: right }
.clr { clear: both; }

.home-tweet-follow .row-fluid{
    background: url("../images/icons/bg-event-tweet-follow.jpg") repeat-x bottom;
    padding-top: 44px;
}
.beau-event-tweet.style2 .home-tweet-follow .row-fluid{
    padding-top: 5px;
    border-top: 1px solid #f5f5f5;
}
.home-tweet-follow .row-fluid:last-child{
    background: none;
}
.home-tweet-follow .name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 5px 0;
}
.home-tweet-follow .acc-tweet{
    font-weight: 300;
    font-size: 14px;
    color: #464646;
    line-height: 15px;
    padding: 0 5px;
}
.home-tweet-follow .tweet-text{
    text-align: left;
    margin: 0;
}
.beau-event-tweet.style2 .home-tweet-follow .tweet-text{
    margin-top: 0px;
    padding-top: 10px;
}
.beau-event-tweet.style2 .span6.move-to-right .tweet-text{
    text-align: right;
}
.beau-event-tweet.style2 .span6.move-to-left .latest-tweets ul li{
    padding-left: 0;
}
.home-tweet-follow .tweet-text a{
    color: #5c908c;
    text-decoration: none;
}
.home-tweet-follow a.btn{
    color: #fff;
    background: #5c908c;
    padding: 12px 25px;
    font-size: 16px;
    margin-bottom: 17px;
    font-weight: 300;
    margin-left: 20px;
}
.home-tweet-follow a.btn:hover{
    background:#e77f66;
    color:#ffffff;
}
.home-tweet-follow .question{
    position: relative;
    background:url("../images/icons/bg-event-tweet-question.png") repeat ;
    margin-top: 90px;
    padding: 80px 15px 65px 30px;
    font-size:  30px;
    text-align: left;
    font-weight: 400;
    line-height: 35px;
    color: #464646;
}
.home-tweet-follow .question .author{
    font-size: 18px;
    opacity: 0.8;
    text-transform: uppercase;
    padding-left: 40px;
    padding-top: 18px;
}
.home-tweet-follow .question-border{
    position: absolute;
    left: -6px;
    top: 6px;
    right: 6px;
    bottom:-6px;
    opacity: 0.8;
    border: 1px solid #7d7d7d;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.latest-tweets ul{
    list-style: none;
    margin: 0;
}
.latest-tweets ul li{
    padding-left: 20px;
}
.form-allowed-tags{
    display: none;
}
.question .bf:before, .question .at:after{
    font-family: 'AparajitaBold';
    font-size: 92px;
    color: #898989;
    padding-top: 35px;
    position: absolute;
}
.question .bf:before{
    content: '“';
}
.question .at:after{
    content: '”';
}
.beau-blog.stretch-layout.style2 .span1{
    width: 10.333333%;
}
.beau-blog.stretch-layout.style2 .span11{
    width: 89.666667%;
}
/*=========================================================================
    Gallery
//=======================================================================*/
.beau-gallery-slide .gallery-slide,
.beau-contact .contact-container{
    padding-top: 55px;
    position: relative;
}
.gallery.style2 [class*="span"]{
    padding: 0 13px 27px;
}
.gallery.style2 .span3{
    width: 24.99%;
    padding: 0 13px 27px;
}
.gallery.style2 .cs-style-7 img{
    width: 100%;
}
.gallery.style2 .zoom-overlay{
    background-color: #fff;
    opacity: 0;
    position: absolute;
    left: 30px;
    top: 15px;
    bottom: 43px;
    right: 30px;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}
.gallery.style2 .zoom-overlay span{
    position: relative;
    top: 50%;
}
.gallery.style2 .zoom:hover .zoom-overlay{
    opacity: 0.8;
}
.gallery.style2 .zoom:hover .title{
    opacity: 1;
}
.gallery-slide .gallery-showdow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 11px 60px -4px #c6c6c6,inset 0px -11px 60px -30px #c6c6c6;
    -webkit-box-shadow: inset 0px 11px 60px -4px #c6c6c6,inset 0px -11px 60px -30px #c6c6c6;
    -moz-box-shadow: inset 0px 11px 60px -4px #c6c6c6,inset 0px -11px 60px -30px #c6c6c6;
}
.gallery .row-fluid .gallery-category{
    min-height: 505px;
    background: url("../images/icons/bg-gallery.jpg");
    position: relative;
}
.gallery.style2 .row-fluid .gallery-category{
    min-height: 30px;
    background: none;
}
.gallery-category-container{
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    padding: 95px 45px;
    text-align: left;
}
.gallery.style2 .row-fluid .gallery-category-container{
    position: static;
    padding: 0;
    text-align: center;
    border: none;
}
.gallery .row-fluid .gallery-category-style2{
    background: none;
    min-height: 30px;
}
.gallery-category-container-style2{
    border-top: 1px solid #f5f5f5;
    text-align: center;
}
.beau-blog .gallery-category-container-style2{
    border: none;
}
.gallery-latest-title{
    font-size: 18px;
    text-transform: uppercase;
}
.gallery-latest-album-photo{
    font-size: 30px;
    font-weight: 700;
    /*font-style: italic ;*/
    text-transform: uppercase;
    padding: 25px 0;
    line-height: 30px;
}
.gallery-text{
    font-size: 16px;
}
.gallery-menu{
    padding-top: 20px;
    font-weight: 300;
    font-style: italic ;
}
.gallery-menu.style2 {
    padding-top: 26px;
    padding-bottom: 13px;
}
.gallery-menu ul.inline li{
    margin-right: 10px;
}
.gallery-menu ul.inline li.active{
    text-decoration: none;
    position: relative;
}
.gallery-menu ul.inline li:last-child{
    padding: 0;
}
.gallery-menu a.active, .gallery-menu a:hover{
    color: #71c8a8;
    text-decoration: none;
}
.gallery-menu ul.inline li.active a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-width: 0 0 1px;
    border-style: solid;
}
.gallery .row-fluid .span2{
    width: 20%;
    position: relative;
}
.gallery .row-fluid .span5{
    width: 40%;
}
.gallery .span2{
    min-width: 234px;
}
/*=========================================================================
   Blog
//=======================================================================*/
.beau-blog .blog-lists{
    padding-top: 70px;
}
.beau-blog .blog-lists img{
    width: 100%;
}
.beau-blog .blog-lists .row-fluid{
    padding-bottom: 65px;
}
.beau-blog.style2 .blog-lists .row-fluid .full-content .row-fluid{
    padding-bottom: 12px;
}
.beau-blog .blog-lists .row-fluid:last-child{
    padding-bottom: 0;
}
.beau-blog .blog-lists .row-fluid .span6.blog-odd,
.beau-blog .blog-lists .row-fluid .span6.blog-even{
    position: relative;
    padding: 0;
    width: 50%;
}
.beau-blog .blog-lists .row-fluid .span6.blog-odd-r,
.beau-blog .blog-lists .row-fluid .span6.blog-even-l{
    position: relative;
    padding: 0 50px 0px 75px;
    text-align: left;
}
.beau-blog .blog-lists .row-fluid .span6.blog-even-l{
    text-align: right;
    padding: 0 70px 0px 50px;
}
.beau-blog .blog-lists .row-fluid .span6.blog-even-l .odd-bg{
    right: 15px;
    left: 0;
}
.beau-blog .blog-odd{
    text-align: right;
}
.image-op{
    opacity: 0;
    background: #fff;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.beau-blog .odd{
    background: url("../images/icons/bg-home-blog-arrow.png") no-repeat right center ;
    position: absolute;
    top: 0;right: 0;
    left: 0; bottom: 0;
}
.beau-blog .bg-r .odd{
    background: url("../images/icons/bg-home-blog-arrow-r.png") no-repeat left center ;
}
.beau-blog .full-content  .odd, .beau-blog .full-content .bg-r .odd{
    background:none;
}
.blog-list-container .full-content .odd{
    background: none;
}
.figure figcaption::before,
.figure figcaption::after {
    pointer-events: none;
}
figure.effect-bubba{
    margin: 0;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}
.hover-img:hover .image-op{
    opacity: 0.4;
}
.hover-img:hover figcaption::before,
.hover-img:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.beau-blog .odd-bg{
    position: absolute;
    top: 22px;
    bottom: 0px;
    left: 15px;
    right: 0;
    border: 3px solid #cfc2b0;
    opacity: 0.3;
    z-index: -1;
}
.beau-blog .content{
    padding: 44px 0 48px;
    font-weight: 300;
    font-size: 18px;
    color: #464646;
    background: url('../images/body-bg.png') repeat;
}
.style2 .beau-blog .content{
    background:none;
}
.beau-blog .content.style2{
    background: none;
}
.beau-blog.style2{
    text-align: left;
}
.beau-blog.style2 .span1{
    text-align: right;
    padding-right: 30px;
    margin-top: -7px;
}
.beau-blog.style2 .date{
    font-size: 40px;
    line-height: 40px;
}
.beau-blog.style2 .month-year{
    font-size: 24px;
    text-transform: uppercase;
}
.beau-blog h3{
    text-transform: uppercase;
    color: #5c908c;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 18px ;
}
.beau-blog .full-content h3 {
    font-size: 24px;
    margin-bottom: 25px;
}
.beau-blog.style2 .full-content h3 {
    margin-bottom: 14px;
    line-height: 24px;
}
.beau-blog.style2 .full-content h3 {
    margin-top: 2px;
}

.beau-blog .content .date{
    font-size: 12px;
    font-weight: 300;
    font-style: italic ;
    padding-bottom: 10px;
}
.beau-blog .content .blog-description{
    font-size: 14px;
    font-weight: 300;
    padding:0;
}
.beau-blog .blog-even{
    text-align: left;
}
.beau-blog .event{
    background: url("../images/icons/bg-home-blog-arrow-r.png") no-repeat left center;
    position: absolute;
    top: 0;right: 0;
    left: 0; bottom: 0;
}

/*BLog Full LayOut*/
.blog-lists-full-layout .row-fluid:last-child .blog-social{
    border: none;
}
.blog-lists-full-layout{
    background: url("../images/icons/bg-event-text.png") repeat-x bottom;
    padding-bottom: 40px;
}
.beau-blog.style2 .blog-lists-full-layout{
    background: none;
    padding-top: 68px;
}
.blog-lists-full-layout::after{
    /*content: "\f0c4";*/
}
.blog-list-container{
    padding: 0 100px;
    font-weight: 300;
}
.blog-list-container{
    padding: 0 100px;
}
.beau-blog.style2 .blog-list-container {
    padding: 0 197px;
}
.blog-list-container .full-description
{
    padding-top: 45px;
    font-size: 24px;
    color: #464646;
}
.beau-temp-event-item-container .full-description{
    font-size: 20px;
}
.blog-list-container .blog-meta,.event-meta{
    padding: 8px 0;
    font-weight: 300;
    font-size: 13px;
}
.blog-list-container .blog-meta span,
.event-meta span{
    padding-right: 7px;
}
.blog-list-container .blog-meta .blog-tags span,
.event-meta .event-tags span
{
    text-decoration: underline;
}
.blog-meta .blog-tags a:hover{
    color: #464646;
    text-decoration: underline;
}
.blog-list-container .blog-meta span > i,.beau-blog-detail .blog-meta span > i,
.event-meta span > i{
    padding-right: 5px;
}
.beau-blog .blog-list-container .content{
    font-size: 14px;
    opacity: 0.8;
    padding: 0;
}
.blog-social{
    padding-top: 10px;
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #cfc2b0;
}
.blog-social ul{
    margin-bottom: 30px;
}
.blog-social ul li{
    /*width: 30px;*/
    /*height: 30px;*/
    padding: 3px;
    margin-right: 7px;
}
.blog-social span{
    position: absolute;
    padding-left: 5px;
}
.blog-social li {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #e4e3e3;
    border-radius: 200px;
    margin: 0 2px;
    color: #000;
    opacity: 0.4;
}
.blog-social li.blog-author{
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
}
.blog-social li:hover{
    border: 1px solid #e6e6e6;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
    cursor: pointer;
}
.blog-list-page-nav{
    color: #464646;
    font-size: 18px;
    padding-top: 22px;
}
.blog-list-page-nav .active{
    color: #e77f66;
}
.blog-list-page-nav span{
    border-right: 1px solid #e6e6e6;
    padding: 0 12px;
}
.blog-list-page-nav span:last-child{
    margin-right: 12px;
}
.beau-blog .beau-blog-detail.row-fluid .span1{
    width: 8%;
    line-height: 30px;
}
.beau-blog .beau-blog-detail.row-fluid .span8
{
    border-right: 1px solid #e6e6e6;
    padding-right: 33px;
    width: 64%;
}
.beau-blog .beau-blog-detail.row-fluid .span3{
    padding-left: 30px;
    width: 28%;
}
.hover-img{
    position: relative;
}
.temp-event-item-img.hover-img img{
    width: 100%;
}
.post-thumb img{
    width: 100%;
}
.beau-blog-detail h3{
    margin-top: 0;
    margin-bottom: 35px;
}
.beau-blog-detail h5{
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    background: url("../images/icons/bg-blog-content.png") bottom repeat-x;
    padding-bottom: 14px;
    margin-bottom:0 ;
}
.recent-post h5, .arviches h5, .tags h5, .recent-comment h5{
    text-align: left;
    background: none;
}
.recent-comment .span3{
    width: 25% !important;
    padding-left: 0 !important;
}
.recent-comment img{
    width: 60px;
    height: 60px;
}
.arviches ul{
    list-style: none;
    display: initial;
    opacity: 0.8;
}
.arviches ul li{
    width: 100%;
}
.arviches ul i{
    font-size: 4px;
    color: #e1e1e1;
    position: relative;
    bottom: 3px;
    padding-right: 10px;
}
.tags{
    padding-top: 15px;
}
.tagcloud a{
    border: 1px solid #cfc2b0;
    padding:5px 10px ;
    margin-bottom: 3px;
}
.recent-post img{
    max-width: 100px;
}
.recent-post img:hover{
    opacity: 0.8;
}
.recent-post .span7{
    margin-left: 20px !important;
}
.recent-post .row-fluid, .recent-comment .row-fluid{
    background: url("../images/icons/bg-blog-content.png") bottom repeat-x;
    padding: 20px 0;
}
.recent-post .row-fluid:last-child, .recent-comment .row-fluid:last-child{
    background: none;
}
.recent-post .recent-post-title{
    font-size: 12px;
    text-transform: uppercase;
    line-height: 10px;
    font-weight: 300;
}
.beau-blog-detail .date{
    font-size: 60px;
    line-height: 55px;
    text-align: center;
    margin-top: -11px;
}
.beau-blog-detail .month-year{
    font-size:  15px;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
}
.beau-blog-detail{
    text-align: left;
}
.beau-blog-detail .full-description
{
    padding-top: 45px;
    font-size: 20px;
    color: #464646;
}
.beau-blog-detail .blog-meta{
    padding: 12px 0;
}
.beau-blog-detail .blog-meta span, .beau-blog-detail .blog-meta span a{
    color: #e77f66;
    padding-right: 7px;
}
.beau-blog-detail .blog-meta span a:hover{
    text-decoration: underline;
    color: #e77f66;
}
.beau-blog-detail .content{
    font-size: 14px;
    padding: 10px 0;
    background: url("../images/icons/bg-blog-content.png") bottom repeat-x;
}
.beau-blog-detail .content p{
    opacity: 0.8;
}
.beau-blog-detail .last-test {
    padding: 15px 0;
    background: url("../images/icons/bg-blog-content.png") bottom repeat-x;
}
.beau-blog-detail .last-test ul{
    list-style: none;
    font-size: 14px;
    opacity: 0.87;
    display: initial;
    margin: 0;
}
.beau-blog-detail .last-test ul span{
    padding-left: 10px;
}
.comment ol, .comment ul{
    list-style: none;
    margin: 0;
}
.comment img.avatar{
    width: 114px;
    height: 116px;
    vertical-align: top;
    float: left;
    margin-right: 30px;
}
.comment h3#comments{
    display: none;
    color: #363636;
    padding: 10px 0 15px;
}
li.comment{
    padding: 30px 0;
    background: url("../images/icons/bg-blog-content.png") bottom repeat-x;
}
.comment a{
    color: #e77f66;
}
.comment .span10{
    padding-left: 30px;
}
.comment-content{
    padding-bottom: 10px;
}
.comment #respond h3{
    text-transform: none;
    font-size: 20px;
    color: #363636;
    margin: 40px 0 20px;
}
.comment input, .comment textarea{
    margin-bottom: 0;
    text-align: left;
    border-color: #cdcdcd;
    color: #a8a7a6;
    margin-top: -1px;
}
.comment textarea{
    border: 1px solid #e6e6e6;
}
.comment input:focus, .comment textarea:focus{
    border-color:#e6e6e6;
    z-index: 1000;
    position: relative;
}

/* Blog - left*/
.beau-blog .span9 .span2{
    width: 10%;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span10{
    width: 90%;
    padding-left: 12px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span3{
    padding-right: 30px;
    padding-left: 0px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span3 [class*="span"] {
    border: none;
    padding: 0;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span9{
    border: none;
    border-left: 1px solid #e6e6e6;
    padding-left: 35px;
    padding-right: 0;
    width: 72%;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .full-content h3{
    margin-bottom: 16px;
    line-height: 28px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .full-description{
    padding-top: 25px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .full-description span{
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-weight: 300;
    font-style: italic ;
    font-size: 13px;
    padding-right: 5px;
    opacity: 0.8;
}
.beau-blog-detail.beau-blog-left-side .blog-meta{
    margin-top: 20px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 7px 0;
    font-size: 13px;
}
.beau-blog-detail.beau-blog-left-side .blog-meta span{
    color: #464646;
    opacity: 0.8;
}
.beau-blog-detail.beau-blog-left-side .blog-meta span i{
    color: #c5c5cc;
}
.beau-blog-detail.beau-blog-left-side .blog-meta span.blog-comment{
    padding-right: 55px;
}
.beau-blog-detail.beau-blog-left-side .full-content{
    padding-bottom: 90px;
}
.beau-blog-detail.beau-blog-left-side .content{
    padding: 20px 0;
    background: none;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-left-side .span9 .bg{
    min-height: 18px;
    background: url("../images/icons/bg-event-text.png") repeat-x bottom;
}
/* Blog Right*/
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span2,{
    width: 10%;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span10{
    width: 90%;
    padding-left: 12px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span3{
    padding-right: 30px;
    padding-right: 0px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span3 [class*="span"] {
    border: none;
    padding: 0;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span9{
    border: none;
    border-right: 1px solid #e6e6e6;
    padding-right: 48px;
    width: 72%;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .full-content h3{
    margin-bottom: 16px;
    line-height: 28px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .full-description{
    padding-top: 25px;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .full-description span{
    font-weight: 300;
    font-style: italic ;
    font-size: 13px;
    padding-right: 5px;
}
.beau-blog-detail.beau-blog-right-side .blog-meta{
    margin-top: 20px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 7px 0;
    font-size: 13px;
}
.beau-blog-detail.beau-blog-right-side .blog-meta span{
    color: #464646;
}
.beau-blog-detail.beau-blog-right-side .blog-meta span i{
    color: #c5c5cc;
}
.beau-blog-detail.beau-blog-right-side .blog-meta span.blog-comment{
    padding-right: 55px;
}
.beau-blog-detail.beau-blog-right-side .full-content{
    padding-bottom: 90px;
}
.beau-blog-detail.beau-blog-right-side .content{
    padding: 20px 0;
    background: none;
}
.beau-blog .beau-blog-detail.row-fluid.beau-blog-right-side .span9 .bg{
    min-height: 18px;
    background: url("../images/icons/bg-event-text.png") repeat-x bottom;
}
/*=========================================================================
    BOX Attending Form
//=======================================================================*/
.beau-attending-form.style2 .attending-title{
    padding-bottom: 63px;
}
.beau-attending-form.style2 form{
    position: relative;
}
.beau-attending-form .attending{
    padding: 44px 355px 0;
}
.f-bg{
    position: absolute;
    top: 4px;
    left: 25.3%;
    right: 25.3%;
    bottom: -48px;
    border: 1px solid #cccccc;
    z-index: -1;
}
.f-bg-left-top{
    position: absolute;
    top: 0;
    left: 25%;
    right: 0;
    bottom: 0;
    width: 53px;
    height: 54px;
    background: url("../images/icons/f-bg-left-top.png") top left no-repeat #fff;
}
.f-bg-right-top{
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 0;
    width: 53px;
    height: 54px;
    background: url("../images/icons/f-bg-right-top.png") top left no-repeat #fff;
}

.f-bg-left-bottom{
    position: absolute;
    left: 25%;
    right: 0;
    bottom: -54px;
    width: 53px;
    height: 54px;
    background: url("../images/icons/f-bg-left-bottom.png") top left no-repeat #fff;
}
.f-bg-right-bottom{
    position: absolute;
    right: 25%;
    bottom: -54px;
    width: 53px;
    height: 54px;
    background: url("../images/icons/f-bg-right-bottom.png") top left no-repeat #fff;
}
.beau-attending-form input, .beau-attending-form select{
    border: 1px solid #e6e6e6;
    font-weight: 300;
    font-size: 14px;
}
.beau-attending-form.style2 input, .beau-attending-form.style2 select{
    border: none;
    background: url("../images/icons/bg-attdingform-style2.png") bottom repeat-x;
}
.beau-attending-form.style2 input.btn{
    background:url("../images/icons/bg-attform-btn.png") no-repeat;
    width: 146px;
    height: 39px;
    margin: 0 auto;
    color: #464646;
    padding: 0;
}
.beau-attending-form.style2 input.btn:hover{
    color: #fff;
}
input:focus, select:focus, textarea:focus{
    border: 1px solid #e6e6e6 !important;
}
.beau-attending-form.style2 input:focus, .beau-attending-form.style2 select:focus,.beau-attending-form.style2 textarea:focus{
    border: none !important;
}
select{
    padding: 8px 14px;
}
.beau-attending-form select{
    background: url("../images/icons/bg-selection.png") no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#ourHolder{
    overflow: inherit !important;
}
/*Event Detail*/

.beau-temp-event-detail .span5{
    border-left: 1px solid #e6e6e6;
}
.beau-temp-event-detail .span5 .st-gmap{
    margin: 0;
}
.event-detail-content{
    position: relative;
    padding-right: 30px;
}
.event-detail-content-info{
    padding:0 30px;
    text-align:left;
    background: #fff;
    margin-bottom: 20px;
}
.event-detail-content-info-title{
    text-transform: uppercase;
    font-size: 24px;
    color: #252525;
    padding-bottom: 5px;
}
.event-detail-content-info-content{
    font-weight: 300;
    font-size: 13px;
}
.event-detail-location{
    padding-right: 30px;
}
.event-detail-text{
    padding-right: 30px;
    text-align: left;
}
.event-detail-date{
    padding-left: 30px;
    padding-right: 30px;
}
.event-detail-time{
    padding-left: 30px;
}
.event-detail-content-info .span4{
    background: url("../images/icons/bg-event-info.png") right repeat-y;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 130px;
}
.event-detail-content-info .span4:last-child{
    background: none;
}
.row-fluid.event-detail-text  p:first-of-type:first-letter {
    font-size:40px;
    padding-top:12px;
    padding-right:3px;
}
.event-author, .event-meta{
    padding: 5px 0 10px;
    border-bottom: 1px solid #f1ebe2;
}
.event-author .name{
    text-transform: uppercase;
}
.event-author .postion{
    color: #e77f66;
    opacity: 0.8;
}
/*guest-book*/
.guest-book-container{
    margin-top: 55px;
    position: relative;
    padding: 68px 62px;
    min-height: 30px;text-align: left   ;
}
.guest-book-container .row-fluid{
    position: relative;
    z-index: 10;
}
.guest-book-boder-1{
    position: absolute;
    border: 1px solid #e6e6e6;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
}
.guest-book-boder-2{
    position: absolute;
    border: 1px solid #e6e6e6;
    top: -7px;
    right: -7px;
    left: 7px;
    bottom: 7px;
    opacity: 0.1;
}
.guest-book-container h2{
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
}
.guest-book-container h3, .guest-book-container .comment-notes{
    display:none;
}
.guest-book-container #respond input{
    margin-bottom: 16px;
}
.guest-book-container label{
    display: block;
}
.guest-book-container input, .guest-book-container textarea{
    font-size: 13px;
    border: 1px solid #d8d6d5;
    padding: 10px 14px;
}
.guest-book-container input:focus, .guest-book-container textarea:focus{
    border-color:#e77f66
}
.guest-email{
    margin-top: -10px;
    margin-bottom: 20px;
}
.guest-says{
    padding-left: 42px;
}
.guest-says .g-name{
    color: #e77f66;
    text-transform: uppercase;
    border-right: 1px solid;
    padding-right: 8px;
    margin-right: 8px;
}
.guest-says .g-date{
    opacity: 0.8;
}
.guest-says .g-content{
    padding-bottom: 18px;
}
.guest-says .loadmore a{color: #5c908c; text-transform: uppercase;}
.guest-says .loadmore a:after{
    font-family: "FontAwesome";
    content: "\f178";
}
.bg-icon-cut{
    background: url("../images/icons/bg-icon-cut.png") no-repeat;
    width: 38px;
    height: 18px;
    margin-top: -10px;
    position: absolute;
    right: 370px;
    z-index: 10;
}
/*=========================================================================
    404
//=======================================================================*/
.page-not-found{
    font-size: 310px;
    font-weight: 100;
    color: #252525;
    background: url("../images/icons/bg-404.png") no-repeat top center;
}
.text404 {
    padding: 55px 0 0;
    height: auto;
    line-height: 105px;
}
.style2 .text404 img{
    opacity: 0;
}
.page-not-found .text-des{
    font-size: 30px;
    color: #5c908c;
    line-height: 45px;
}