.widget{
	margin-bottom:30px;
}
.widget:after{
	display:block;
	content:'';
	clear:both;
}
.widget.widget-twitter, .widget.widget-twitter ul{
    display: block !important;
}
.widget.widget-twitter{
    margin-bottom: 60px;
}
/*=========================================================================
  Widget Title
//=======================================================================*/
.widget-title{
	font-size: 16px;
    margin: 0;
}
#footer h3.widget-title{
    padding: 10px 0;
}


/*=========================================================================
  Widget List
//=======================================================================*/
.widget ul{
	list-style:none;
	margin-left:0;
}
.widget ul ul{}
.widget li{
	padding:2px 0;
}
.widget li li:last-child{
	border-bottom:none;
	padding-bottom:0;
}

#footer .widget ul ul,
#footer .widget li{
	border-color:rgba(0, 0, 0, 0.1); 
}

.widget_recent_entries li,
.widget_recent_comments li,
.widget_archive li,
.widget_categories li,
.widget_meta li,
.widget_pages li,
.widget_links li{
	position:relative;
	padding-left:10px;
}
.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_archive li:before,
.widget_categories li:before,
.widget_meta li:before,
.widget_pages li:before,
.widget_links li:before{
	position:absolute;
	content:'';
	display:block;
	width:3px;
	height:3px;
	top:14px;
	left:0;
	background-color:#999;
}
.widget_recent_entries li li:before,
.widget_recent_comments li li:before,
.widget_archive li li:before,
.widget_categories li li:before,
.widget_meta li li:before,
.widget_pages li li:before,
.widget_links li li:before{
	width:2px;
	height:2px;
	border:none;
	top:15px;
	background-color:rgba(0, 0, 0, 0.1);
}
.widget_recent_entries li li:hover:before,
.widget_recent_comments li li:hover:before,
.widget_archive li li:hover:before,
.widget_categories li li:hover:before,
.widget_meta li li:hover:before,
.widget_pages li li:hover:before,
.widget_links li li:hover:before{
	background-color:rgba(0, 0, 0, 0.4);
}

.widget_recent_entries .post-date{
	display:block;
    font-size: 12px;
    font-style: italic;
}

.sidebar .widget_nav_menu .menu{
	margin:0;
	border-left-style:solid;
	border-left-width:1px;
}
.sidebar .widget_nav_menu .menu li{
	padding:0 0 0 25px;
	position:relative;
	border-top-style:solid;
	border-top-width:1px;
	-webkit-transition:all 0.05s linear;
	   -moz-transition:all 0.05s linear;
			transition:all 0.05s linear;
}
.sidebar .widget_nav_menu .menu li:first-child{
	border:none;
}
.sidebar .widget_nav_menu .menu li:hover{
	padding-left:30px;
	-webkit-transition:all 0.2s linear;
	   -moz-transition:all 0.2s linear;
			transition:all 0.2s linear;
}
.sidebar .widget_nav_menu .menu li:before{
	position:absolute;
	left:10px;
	top:6px;
	content:'\f105';
	font-family:FontAwesome;
}
.sidebar .widget_nav_menu .menu li:hover:before,
.sidebar .widget_nav_menu .menu li a:hover{
	color:#333;
}
.sidebar .widget_nav_menu .menu li a{
	display:block;
	padding:6px 0;
}


/*=========================================================================
  Tags Cloud
//=======================================================================*/
.widget_tag_cloud a
{
	font-size:100% !important;
	line-height:20px;
	display:inline-block;
	border-style:solid;
	border-width:1px;
}
.blog-tags a:hover,
.widget_tag_cloud a:hover{}


/*=========================================================================
  Calendar
//=======================================================================*/
#calendar_wrap {}
#wp-calendar{
	margin-bottom:0;
	width:100%;
	border-collapse:collapse;
}
#wp-calendar caption{
	background-color:rgba(0, 0, 0, 0.15);
	padding:10px;
	font-size:16px;
	color:#fff;
}
#wp-calendar thead th{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}
#wp-calendar th, 
#wp-calendar td{
	width:14.28%;
	padding:5px 0;
	text-align:center;
}
#wp-calendar td#today{
	color:#fff;
	font-weight:bold;
}


/*=========================================================================
  RSS
//=======================================================================*/
.widget_rss{
}
.widget_rss li{
}
.widget_rss li a{
	display: block;
    font-size: 14px;
    font-weight: 500;
}
.widget_rss li div{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-bottom:10px;
	margin-bottom:5px;
}
.widget_rss .rss-date{
	font-size:12px;
	font-style:italic;
}
.widget_rss cite{
	font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
	position:relative;
	padding-left:15px;
	display:block;
}
.widget_rss cite:before{
	position:absolute;
	content:'\f007';
	left:0;
	top:0;
	font-family:FontAwesome;
	color:#DCDCDE;
}


/*=========================================================================
  Custom Flickr
//=======================================================================*/
.flickr_badge_image {
    display: inline-block;
	padding:0 2% 2% 0;
	width:75px;
	height:75px;
}
.flickr_badge_image a{
	background-color:#111;
	display: block;
    height: auto;
    width: 100%;
	position:relative;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
.flickr_badge_image a:before{
	position:absolute;
	content:'';
	width:20px;
	height:1px;
	top:50%;
	left:50%;
	margin:0 0 0 -10px;
	background-color:#fff;
	display:none;
}
.flickr_badge_image a:after{
	position:absolute;
	content:'';
	width:1px;
	height:20px;
	top:50%;
	left:50%;
	margin:-10px 0 0 0;
	background-color:#fff;
	display:none;
}
.flickr_badge_image a:hover img{
	opacity:0.2;
}
.flickr_badge_image a:hover:before,
.flickr_badge_image a:hover:after{
	display:block;
}


/*=========================================================================
  Custom Twitter
//=======================================================================*/
.widget-twitter li{
	margin-bottom:10px;
    padding: 38px 0 0 65px;
	position:relative;
    border-top: 1px solid #efe8dd;
}
.widget-twitter li:before{
	position:absolute;
	content:'\f099';
	left:0;
	top:0;
	color:#97948f;
	font-size:16px;
	font-family:FontAwesome;
    padding-top: 45px;
    padding-left: 25px;
    font-size: 25px;
}
.widget-twitter li > a{
	display:inline-block;
	line-height:100%;
    color: #898989;
}
.widget-twitter li span{
	display:block;
}
.widget-twitter li span a{
	/*font-style:italic;*/
}
.widget-twitter li span a:hover{
	color:#222;
}
#footer .widget-twitter li span a:hover{
	color:#fff;
}