/*
Theme Name: Marry me E
Theme URI: beautheme.com
Description: An example/test theme with a complete theme options panel.
Author: Beautheme
Author URI: beautheme.com
Version: 1.0
License:  GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: beautheme
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, sticky-post, theme-options
Copyright: (c) 2014 BeauTheme.
*/
body {
	background:#eee;
}
body.dark{ background-color: #666;}
body.light{ background-color: #cecece;}
body.red{ background-color: red;}
body.blue{ background-color: blue;}
body.green{ background-color: green;}

p {
	margin:0 0 10px 0;
}

h1, h2, h3 {
	margin:0 0 10px 0;
}

#boxed-layout {
	background:#fff;
	min-width:440px;
	max-width:740px;
	width:60%;
	margin:20px auto;
}
body#full-with-layout{
	background:#fff;
	width:100%;
	margin:20px auto;
}
header {
	background:#dedede;
	padding:30px 40px;
}

.entry-content {
	padding:20px 40px;
}

.entry-content img {
	max-width: 100%;
}


